@import '../../../../sass/variables';
@import '../../../../sass/_mixins';
.quicklinks{
    display: none;
    @include mQ('1025px'){
        display: flex;
        background: #030d42;
        margin-left: 25px;
        border-radius: 12px;
        box-shadow: 0px 0px 5px 1px #ccc;
        font-family: $fontForSlide;
        width: 320px !important;
        padding: 20px;
        box-sizing: border-box;
        color: white;
        flex-direction: column;
        h4{
            text-transform: uppercase;
            margin: 20px 10px;
            font-size: 22px;
            letter-spacing: 3px;
        }
        ul{
            list-style-type: disc;
            padding-left: 20px;
            li{
                padding: 10px;
                border-top: #ccc solid 1px;
            }
        }
    }
}          
