@import url('https://fonts.googleapis.com/css?family=Roboto');
@import '../../../../sass/variables';
@import '../../../../sass/_mixins';
.about{
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin-top: 29px;
    line-height: 22px;
    @include mQ('1025px'){
        width: 880px;
        margin-right: 20px;
    }
    h4{
        margin-bottom: 20px;
        margin-left: 20px;
        font-size: 25px;
        // font-variant: small-caps;
        font-weight: 900;
        text-align: center;
        @include mQ('1025px'){
            font-size: 25px;
            text-align: unset;
        }
    }
    .theContent{
        display: flex;
        flex-direction: column;
        @include mQ('1025px'){
            flex-direction: row;
            padding: 0 12px;
        }
        img{
            width: 300px;
            margin: 0 auto;
            @include mQ('1025px'){
                width: 400px;
                height: 350px;
            }
        }
        p{
            margin: 12px 0;
            padding: 12px;
            font-size: 16px;
            font-family: Arial, Helvetica, sans-serif;
            box-sizing: border-box;
            line-height: 28px;
            text-align: justify;
            @include mQ('1025px'){
                margin: 1px;
            }
        }
        .inner{
            @include mQ('1025px'){
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 345px;
                margin: 2px;
                width: 450px;
                font-size: 18px;
                margin-left: 20px;
            }
        }
        button{
            width: 100px;
            padding: 10px 0;
            border: 1px #fff solid;
            color: #fff;
            border-radius: 22px;
            background-color: transparent;
            outline: none;
            background: #7db9e8; /* Old browsers */
            // background: -moz-linear-gradient(left, #7db9e8 1%, #1e5799 97%); /* FF3.6-15 */
            // background: -webkit-linear-gradient(left, #7db9e8 1%,#1e5799 97%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, #7db9e8 1%,#1e5799 97%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=1 ); /* IE6-9 */
            &:hover{
                background: linear-gradient(90deg, #428bd8 0%, #0c1b68 186.42%);
                box-shadow: 1px 2px 5px #ccc;
            }
            &:active{
                background: linear-gradient(90deg, #428bd8 0%, #0c1b68 186.42%);
                box-shadow: 1px 4px 5px #ccc;
                transform: translateY(2px);
            }
            @include mQ('1025px'){
                width: 200px;
            }
        }
    }
}