@import '../../../../sass/_variables';
@import '../../../../sass/_mixins';
.main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 120px;
    .theChairman{
        display: flex;
        flex-direction: column;
        width: 97%;
        margin: 0 auto;
        @include mQ('1025px'){
            flex-direction: row;
            margin-bottom: 32px;
        }
        .theContent{
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-around;
            align-items: center;
            @include mQ('1025px'){
                margin-right: 20px;
                flex-direction: row;
                width: 80%;
                margin: 5px auto;
                img{
                    margin-left: 100px;
                }
            }
            @include mQ('1025px', '1360px'){
                margin-right: 10;
                img{
                    margin-left: 47px;
                }
            }
            .contents{
                padding: 0 20px;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                font-family: $fontForSlide;
                @include mQ('1025px'){
                    width: 592px;
                }
                h4{
                    margin: 10px 0;
                    color: #373535;
                    font-style: normal;
                    @include mQ('1025px'){
                        font-size: 25px;
                        width: 371px;
                        height: 24px;
                        line-height: 24px;
                    }
                }
                p{
                    margin: 10px 0;
                    line-height: 30px;
                }
            }
        }
    }    
    .structure{
        display: flex;
        flex-direction: column;
        width: 87%;
        margin: 20px auto;
        @include mQ('1025px'){
            justify-content: space-evenly;
            align-items: center;
            height: auto;
        }
        .description{
            display: flex;
            flex-direction: column;
            h3{
                text-align: center;
                width: 100%;
                line-height: 24px;
                font-style: normal;
                margin: 12px auto;
                @include mQ('1025px'){
                    font-size: 28px;
                    height: 24px;    
                }
            }
            p{
                font-style: normal;
                line-height: 28px;
                font-size: 14px;
                text-align: center;
                height: 139px;
                @include mQ('1025px'){
                    width: 694px;
                    margin: 12px auto;
                }
            }
        }
        .members{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            @include mQ('1025px'){
                flex-direction: row;
                justify-content: space-evenly;
                width: 90%;
                margin: 20px auto;
            }
            figure{
                img{
                    @include mQ('1025px'){
                        width: 298px;
                        height: 316px;
                    }
                    @include mQ('1025px', '1360px'){
                        width: 238px;
                        height: 285px;;
                    }
                }
                figcaption{
                    width: 100%;
                    text-align: center;
                    margin-top: 12px;
                }
            }
        }
    }
    hr{
        width: 85%;
        margin: 2px auto;
    }
}