<div class="main">
    <section>
        <h3>User Profile</h3>
        <div class="user" *ngIf="memberDetail; else memberWaiting">
            <ng-container *ngIf="editInit; then editable; else showUser"></ng-container>
            <ng-template #editable>
                <!-- <figure class="editable">
                    <img [src]="passportValue" (click)="clickUpload()" alt="User Passport">
                    <figcaption>
                        <div class="prB" [ngStyle]="{width: progressBar}">{{progressBar || '&nbsp;'}}</div>
                    </figcaption>
                </figure> -->
                <form [formGroup]="editProfile">
                        <input type="file" aria-label="Passport" #picBar formControlName="passport" (change)="uploader.uploadAll()" id="passport" ng2FileSelect [uploader]="uploader">
                    <div class="details">
                        <ul>
                            <li>Name: <input type="text" formControlName="fullName" [value]="memberDetail.fullName"></li>
                            <li>Username: <input type="text" formControlName="username" [value]="memberDetail.username"></li>
                            <li>PVC Number: <input type="text" formControlName="pvc" [value]="memberDetail.pvc"></li>
                        </ul>
                        <ul>

                            <li>State:
                                <select name="state"  id="state" formControlName="stName" (change)="setStateName($event)">
                                    <option [value]="memberDetail.stateName"></option>
                                    <option *ngFor="let item of state" [value]="item">{{item}}</option>
                                </select>                        
                            </li>
                            <li>Senate Constituency: <input type="text" formControlName="Senatorial" [value]="memberDetail.Senatorial"></li>
                            <li>Federal Constituency: <input type="text" formControlName="FedConstituency" [value]="memberDetail.FedConstituency"></li>
                            <li>State Constituency: <input type="text" formControlName="StateConstituency" [value]="memberDetail.StateConstituency"></li>
                            <li>LGA: 
                            <select name="lga" formControlName="lgaName" id="lga" (change)="setWardname($event, editProfile.controls.stName.value)">
                                
                                <option [value]="memberDetail.lgaName" *ngIf="localGovt == undefined || localGovt.length === 0; else lgaOptions">{{memberDetail.lgaName}}</option>
                                <ng-template #lgaOptions>
                                    <option value="">Select Local Government</option>
                                    <option *ngFor="let item of localGovt" [value]="item._id">{{item._id}}</option>
                                </ng-template>
                            </select>

                            </li>
                            <li>Ward Name:
                                <select name="ward" formControlName="wardName" id="ward" (change)="pollingUnits($event, editProfile.controls.lgaName.value, editProfile.controls.stName.value)">
                                    <option [value]="memberDetail.wardName" *ngIf="wardList == undefined || wardList.length === 0; else wardOptions">{{memberDetail.wardName}}</option>

                                    <ng-template #wardOptions>
                                        <option value="">Select Ward Area</option>
                                        <option *ngFor="let item of wardList" [value]="item._id">{{item._id}}</option>
                                    </ng-template>
                                </select>
                            </li>
                            <li>Polling Unit:
                            <select name="polling" formControlName="pollingUnit" id="polling" aria-label="Voting Unit">
                                <option [value]="memberDetail.pollingUnit" *ngIf="pollingList == undefined || pollingList.length === 0; else pollingOptions">{{memberDetail.pollingUnit}}</option>

                                <ng-template #pollingOptions>
                                    <option value="">Select Voting Unit</option>
                                    <option *ngFor="let item of pollingList" [value]="item._id">{{item._id}}</option>
                                </ng-template>
                            </select>
                            </li>
                        </ul>
                    </div>
                </form>
            </ng-template>
            <ng-template #showUser>
            <figure>
                <img [src]="memberDetail.passport || '/assets/adplogo.jpg'" #thisImg alt="">
            </figure>
            <div class="details">
                <ul>
                    <li>Name: {{memberDetail.fullName}}</li>
                    <li>Status: {{(memberDetail.isSuspended === true)? 'Suspended' : 'Active'}}</li>
                    <li>Fee: UnPaid</li>
                    <li>Username: none</li>
                    <li>PVC Number: {{memberDetail.pvc || 'Not Provided'}}</li>
                </ul>
                <ul>
                    <li>Polling Unit: {{memberDetail.pollingUnit || 'Not Provided'}}</li>
                    <li>Ward Name: {{memberDetail.wardName || 'Not Provided'}}</li>
                    <li>LGA: {{memberDetail.lgaName || 'Not Provided'}}</li>
                    <li>State Constituency: Not Provided</li>
                    <li>Senate Constituency: {{memberDetail.Senatorial || 'Not Provided'}}</li>
                    <li>Federal Constituency: {{memberDetail.FedConstituency || 'Not Provided'}}</li>
                    <li>State: {{memberDetail.stateName || 'Not Provided'}}</li>
                </ul>
            </div>
            </ng-template>
        </div>
        <ng-template class="user" #memberWaiting>
            <p>Your information is loading</p>
        </ng-template>
        <div class="edit">
            <button (click)="EditProfile()" [innerText]="editBtn"></button>
        </div>
    </section>
    <section>
        <!-- <div class="candidature">
            <ul>
                <li>Previous Position Contested: None</li>
                <li>Previous Position Held: None</li>
                <li>Member Since: 2018</li>
                <li>Invite Link: uqyedd</li>
                <li>Member invited: 30</li>
            </ul>
        </div> -->
    </section>
</div>