@import '../../../../sass/mixins';
.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 0;
    box-sizing: border-box;
    section{
        width: 90%;
        margin: 20px auto;
        box-shadow: 0px 0px 3px #ccc;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        @include mQ('1025px'){
            height: 320px;
        }
        .edit{
            margin: 20px 0;
            button{
                width: 100px;
                height: 42px;
                border-radius: 6px;
                border: 1px solid #ccc;
                box-shadow: 0px 0px 2px 2px #eee;
                &:hover{
                    box-shadow: 0px 0px 5px 5px #eee;
                }
                &:active {
                    transform: translateY(2px);
                    box-shadow: 0px 0px 1px 2px #eee;
                }
            }
        }
        h3{
            margin: 10px;
            width: 200px;
            line-height: 24px;
            font-size: 24px;
        }
        .user{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            @include mQ('1025px'){
                height: 60%;
                flex-direction: row;
            }
            figure{
                width: 230px;
                display: flex;
                flex-direction: column;
                height: 100%;
                img{
                    width: 230px;
                    height: 230px;
                    border-radius: 50%;
                    box-shadow: 0px 0px 5px 2px #ccc;
                }
            }
            .details{
                width: 95vw;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                @include mQ('1025px'){
                    flex-direction: row;
                    width: 620px;
                }
                ul{
                    height: 90%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: flex-start;
                    list-style: none;
                    li{
                        font-size: 17px;
                    }
                }
            }
        }
        &:nth-child(2){
            height: 100px;
            justify-content: center;
            align-items: center;
                ul{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                list-style: none;
                width: 100%;
                align-items: center;
                @include mQ('1025px'){
                    flex-direction: row;
                    width: 860px;
                }
            }
        }
    }
}

.editable{
    input[type=file]{
        display: none;
    }
    figcaption{
        border: 1px solid adjust-color($color: #ccc, $red: 1, $green: 2, $blue: 3, $alpha: 1.0);
        width: 100%;
        border-radius: 20px;
        height: 30px;
        background-color: #ccc;
        position: relative;
        padding: 0;
        .prB{
            height: 100%;
            position: static;
            width: 0%;
            top: 0;
            left: 0;
            border-radius: 20px;
            background: linear-gradient(90deg, #173fc2 0%, #180452 186.42%);
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #ffffff;
        }
    }
}