<div class="main">
    <section>
        <h3>User Profile</h3>
        <div class="user" *ngIf="memberDetail; else memberWaiting">
            <ng-container *ngIf="editInit; then editable; else showUser"></ng-container>
            <ng-template #editable>
                we came
            </ng-template>
            <ng-template #showUser>
            <figure>
                <img [src]="memberDetail.passport || '/assets/adplogo.jpg'" alt="">
            </figure>
            <div class="details">
                <ul>
                    <li>Name: {{memberDetail.fullName}}</li>
                    <li>Status: {{(memberDetail.isSuspended === true)? 'Suspended' : 'Active'}}</li>
                    <li>Fee: UnPaid</li>
                    <li>Username: none</li>
                    <li>PVC Number: {{memberDetail.pvc || 'Not Provided'}}</li>
                </ul>
                <ul>
                    <li>Polling Unit: {{memberDetail.pollingUnit || 'Not Provided'}}</li>
                    <li>Ward Name: {{memberDetail.wardName || 'Not Provided'}}</li>
                    <li>LGA: {{memberDetail.lgaName || 'Not Provided'}}</li>
                    <li>State Constituency: Not Provided</li>
                    <li>Senate Constituency: {{memberDetail.Senatorial || 'Not Provided'}}</li>
                    <li>Federal Constituency: {{memberDetail.FedConstituency || 'Not Provided'}}</li>
                    <li>State: {{memberDetail.stateName || 'Not Provided'}}</li>
                </ul>
            </div>
            </ng-template>
        </div>
        <ng-template class="user" #memberWaiting>
            <p>Your information is loading</p>
        </ng-template>
        <div class="edit">
            <button (click)="EditProfile()" [innerText]="editBtn"></button>
        </div>
    </section>
    <section>
        <div class="candidature">
            <ul>
                <li>Previous Position Contested: None</li>
                <li>Previous Position Held: None</li>
                <li>Member Since: 2018</li>
                <li>Invite Link: uqyedd</li>
                <li>Member invited: 30</li>
            </ul>
        </div>
    </section>
</div>