<div class="news">
  <h4>Latest News</h4>
  <div id="newsContent">
      <figure *ngFor="let list of newsList | slice:0:3; let i=index"> 
        <a [href]="list.guid" target="_blank">
          <img [src]="list.thumbnail" alt="News Caption" width="100px">
          <figcaption>
              <strong>{{list.title | truncate : 25 : true }}</strong>
              <p [innerHTML]='list.content | format : 71 : true'>
              </p>
              <span><em>{{list.pubDate | date: 'dd MMM, yyyy'}}</em></span>
          </figcaption>
          </a>
      </figure>
  </div>
</div>
