/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import './_variables';
@import './_mixins';
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    outline: none;
}
.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    // overflow: hidden;
    position: static;
    margin: 20px 0;
    z-index: -1;
}
a, a:visited, a:active{
    color: unset;
    text-decoration: unset;
}

.form-control{
    width: 70% !important;
    outline: none !important;
    border: 0 solid #000 !important;
    border-bottom: 1px solid #ccc !important;
    margin-left: 10px !important;
    background: transparent;
    font-size: 14px;
    line-height: 24px;
}