/* You can add global styles to this file, and also import other style files */
@import './_variables';
@import './_mixins';
*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    // overflow: hidden;
    position: relative;
    margin: 20px 0;
}
a, a:visited, a:active{
    color: unset;
    text-decoration: unset;
}
