
<div class="main" role="main">
    <h2>Registration Page</h2>
    <form action="" [formGroup]="formReg" class="register" (ngSubmit)="onSubmit()">
        <section class="top-display">
            <div class="intro">
                <h4>All fields marked * must be filled</h4>
                <ul>
                    <li>Please note that Full Name must contain at least First and Last Name preferably, a third name may be added.</li>
                    <li>Date of Birth must be at least 18 years old at the time of registration</li>
                    <li>Please provide at least a phone number and/or email address</li>
                </ul>
            </div>
            <div class="passport">
                <input type="file" aria-label="Passport" name="passport" (change)="uploader.uploadAll()" id="passport" ng2FileSelect [uploader]="uploader">
                <button (click)="clickUpload()">upload passport <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.94922 6.875L1.92578 9.5H10.0742L7.44922 6L5.42578 8.625L3.94922 6.875ZM11.25 10.0742C11.25 10.3841 11.1315 10.6576 10.8945 10.8945C10.6576 11.1315 10.3841 11.25 10.0742 11.25H1.92578C1.61589 11.25 1.34245 11.1315 1.10547 10.8945C0.86849 10.6576 0.75 10.3841 0.75 10.0742V1.92578C0.75 1.61589 0.86849 1.34245 1.10547 1.10547C1.34245 0.86849 1.61589 0.75 1.92578 0.75H10.0742C10.3841 0.75 10.6576 0.86849 10.8945 1.10547C11.1315 1.34245 11.25 1.61589 11.25 1.92578V10.0742Z" fill="white"/>
                    </svg>
                    </button>
            </div>
        </section>
        <section>
            <div class="input-field" [ngClass]="{'is-invalid': formReg.controls.fullName.invalid && formReg.controls.fullName.touched}">
                <label for="fullName">Full Name * <span *ngIf="formReg.controls.fullName.errors && formReg.controls.fullName.errors.required">required</span> <span *ngIf="formReg.controls.fullName.errors">Provide Full Names</span></label>
                <input type="text" aria-label="Full Name" name="fullName" [ngClass]="{ 'is-invalid': submitted && f.fullName.errors }" formControlName="fullName" id="fullName" placeholder="Hassan Uche Oluwatoyin">
            </div>
            <div class="se">
                <div class="input-field" [ngClass]="{'is-invalid': formReg.controls.password.invalid && formReg.controls.password.touched}">
                    <label for="password">Passowrd * <span *ngIf="formReg.controls.password.errors && formReg.controls.password.errors.required">required</span> <span *ngIf="formReg.controls.password.errors && formReg.controls.password.errors.minLength">Password must be more than 6 char</span> </label>
                    <input type="password" name="password" aria-label="Passowrd" id="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" formControlName="password" placeholder="Password" aria-placeholder="Password">
                </div>
                <div class="input-field">
                    <label for="vin">PVC Number</label>
                    <input type="text" name="vin" aria-label="PVC number" id="vin" formControlName="pvc" placeholder="Enter your PVC Number" aria-placeholder="3075050">
                </div>
            </div>
        </section>
        <section class="contacts">
            <div>
                <div class="input-field" [ngClass]="{'is-invalid': formReg.controls.phoneNumber.invalid && formReg.controls.phoneNumber.touched}">
                    <label for="phoneNumber">Phone Number * <span *ngIf="formReg.controls.phoneNumber.invalid && formReg.controls.phoneNumber.touched">Invlida</span> <var *ngIf="formReg.controls.phoneNumber.valid">Valid </var></label>
                    <international-phone-number 
                    id="phoneNumber"
                    formControlName="phoneNumber"
                    placeholder="Enter phone number" 
                    [maxlength]="20" [defaultCountry]="'ng'"
                    aria-label="Phone Number"
                    [required]="true" 
                    name="phoneNumber"></international-phone-number>
                </div>
                <div class="input-field">
                    <label for="email">Email Address</label>
                    <input type="email" name="email" id="email" aria-label="Email Address" formControlName="email" placeholder="contact@adp.ng">
                </div>
            </div>
            <div>
                <div class="input-field" 
                [ngClass]="{'is-invalid': formReg.controls.gender.invalid && formReg.controls.gender.touched}">
                    <label for="gender"  [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">Gender <em *ngIf="formReg.controls.gender.untouched || formReg.controls.gender.valid;else spanError">*</em> <ng-template #spanError><em style="color: red;">*</em></ng-template> </label>
                    <select name="gender" formControlName="gender" id="gender" aria-label="Gender">
                        <option value="" aria-selected="true">Select Gender</option>
                        <option value="Female">Female</option>
                        <option value="Male">Male</option>
                    </select>
                </div>
                <div class="input-field"
                [ngClass]="{'is-invalid': formReg.controls.dateofBirth.invalid && formReg.controls.dateofBirth.touched}">
                    <label for="dateOfBirth">Date of Birth *<span *ngIf="formReg.controls.dateofBirth.errors">Must be at least 18</span></label>
                    <input type="date" [ngClass]="{ 'is-invalid': submitted && f.dateofBirth.errors }" formControlName="dateofBirth" name="dateOfBirth" id="dateOfBirth" aria-label="Date of Birth">
                </div>
            </div>
        </section>
        <section class="voting-unit">
            <div class="input-field" [ngClass]="{'is-invalid': formReg.controls.stateName.invalid && formReg.controls.stateName.touched}">
                <label for="state">State <em *ngIf="formReg.controls.stateName.untouched || formReg.controls.stateName.valid;else stateError">*</em> <ng-template #stateError><em style="color: red;">*</em></ng-template></label>
                <select name="state"  id="state" formControlName="stateName" (change)="setStateName($event)">
                    <option value="">Select State</option>
                    <option *ngFor="let item of state" [value]="item">{{item}}</option>
                </select>
            </div>

            <div class="input-field" [ngClass]="{'is-invalid': formReg.controls.lgaName.invalid && formReg.controls.lgaName.touched}">
                <label for="lga">Local Government <em *ngIf="formReg.controls.lgaName.untouched || formReg.controls.lgaName.valid;else lgaError">*</em> <ng-template #lgaError><em style="color: red;">*</em></ng-template></label>
                <select name="lga" formControlName="lgaName" id="lga" (change)="setWardname($event, f.stateName.value)">
                    
                    <option value="" *ngIf="localGovt == undefined || localGovt.length === 0; else lgaOptions">Select State First</option>
                    <ng-template #lgaOptions>
                        <option value="">Select Local Government</option>
                        <option *ngFor="let item of localGovt" [value]="item._id">{{item._id}}</option>
                    </ng-template>
                </select>
            </div>
            <div class="input-field" [ngClass]="{'is-invalid': formReg.controls.wardName.invalid && formReg.controls.wardName.touched}">
                <label for="ward">Ward <em *ngIf="formReg.controls.wardName.untouched || formReg.controls.wardName.valid;else wardError">*</em> <ng-template #wardError><em style="color: red;">*</em></ng-template></label>
                <select name="ward" formControlName="wardName" id="ward" (change)="pollingUnits($event, f.lgaName.value, f.stateName.value)">
                    <option value="" *ngIf="wardList == undefined || wardList.length === 0; else wardOptions">Select Local Govt First</option>

                    <ng-template #wardOptions>
                        <option value="">Select Ward Area</option>
                        <option *ngFor="let item of wardList" [value]="item._id">{{item._id}}</option>
                    </ng-template>
                </select>
            </div>
            <div class="input-field">
                <label for="polling">Voting Unit</label>
                <select name="polling" formControlName="pollingUnit" id="polling" aria-label="Voting Unit">
                    <option value="" *ngIf="pollingList == undefined || pollingList.length === 0; else pollingOptions">Select Ward Area First</option>

                    <ng-template #pollingOptions>
                        <option value="">Select Voting Unit</option>
                        <option *ngFor="let item of pollingList" [value]="item._id">{{item._id}}</option>
                    </ng-template>
                </select>
            </div>
        </section>
        <section>
            <div class="input-field">
                <label for="address">Residential Address</label>
                <textarea formControlName="residenceAdd" name="address" id="address" cols="30" rows="2" aria-label="Address" placeholder="Full Address"></textarea>
            </div>
        </section>
        <section class="submit">
            <button type="submit" [disabled]="!formReg.valid">Register</button>
        </section>
    </form>
</div>