@import url('https://fonts.googleapis.com/css?family=Roboto');
@import '../../../../sass/_variables';
@import '../../../../sass/_mixins';
.main{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #ccc;
    .is-invalid{
        label{
            span{
                font-size: 9px;
                background: #ee3300;
                color: #ffffff;
                padding: 3px;
                margin-left: 7px;
                display: inline !important;
            }
        }
        input, select, textarea{
            border: 1px solid #e30 !important;
        }
    }
    .invalid-alert{
        background: #ee6600;
    }
    h2{
        font-family: 'Roboto', sans-serif;
        width: 346px;
        margin: 24px auto;
        height: 24px;
        font-style: normal;
        font-size: 28px;
        line-height: 24px;
        text-align: center;
        text-transform: uppercase;
    }
    form{
        display: flex;
        flex-direction: column;
        width: 96%;
        margin: 0 auto;
        padding: 12px;
        box-sizing: border-box;
        justify-content: space-evenly;
        font-family: 'Roboto', sans-serif;
        align-items: center;
        section{
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            @include mQ('1025px'){
                width: 90%;
                margin: 25px auto;
            }
            .se{
                @include mQ('1025px'){
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: baseline;
                    div{
                        width: 40%;
                        margin: 25px 0;
                    }
                }
            }
            .intro{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                h4{
                    font-size: 14px;
                    line-height: 24px;
                    width: 100%;
                    height: 24px;
                    font-weight: 500;
                    margin-bottom: 13px;
                }
                ul{
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 19px;
                    margin-left: 15px;
                    li{
                        margin: 5px 0;
                    }
                }
            }
            .input-field{
                display: flex;
                flex-direction: column;
                margin-bottom: 12px;
                @include mQ('1025px'){
                    margin: 20px 0;
                    // box-sizing: border-box;
                }
                label{
                    margin-bottom: 7px;
                    font-weight: 500;
                    font-size: 20px;
                    font-family: 'Roboto', sans-serif;
                    color: #373535;
                    span{
                        display: none;
                    }
                    var{
                        font-size: 9px;
                        background: #03ad36;
                        color: #ffffff;
                        padding: 3px;
                        margin-left: 7px;
                        display: inline !important;            
                    }
                }
                input, select, textarea{
                    width: 100%;
                    outline: none;
                    border: 0 solid #000;
                    border-bottom: 1px solid #ccc;
                    font-size: 14px;
                    line-height: 24px;
                }
            }
        }
        .submit{
            width: 80%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            button{
                border-radius: 30px;
                width: 180px;
                height: 42px;
                color: #ffffff;
                outline: none;
                border: 0;
                &[type=submit]{
                    &:disabled{
                        background: #b6b4b4 !important;
                    }    
                    background:  linear-gradient(90deg, #4BA0FD 0%, #030D42 186.42%);
                }
                &:hover:not([disabled]){
                    // background: -moz-linear-gradient(left, #6590b1 1%,#3177c7 97%); /* FF3.6-15 */
                    // background: -webkit-linear-gradient(left, #6590b1 1%,#3177c7 97%); /* Chrome10-25,Safari5.1-6 */
                    &:not([type=reset]){
                        background: linear-gradient(to right, #6590b1 1%,#3177c7 97%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    }
                    box-shadow: 0px 0px 2px  2px transparentize(#000, 0.55);
                }
                &:active{
                    // background: -moz-linear-gradient(left, #6590b1 1%,#3177c7 97%); /* FF3.6-15 */
                    // background: -webkit-linear-gradient(left, #6590b1 1%,#3177c7 97%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to right, #6590b1 1%,#3177c7 97%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    box-shadow: 0px 0px 7px #000;
                    transform: translateY(2px);
                }
                &[type="reset"]{
                    background: #e60000;
                }
            }
        }
        .contacts{
            @include mQ('1025px'){
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                >div{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    .input-field{
                        margin-bottom: 45px;
                        box-sizing: border-box;
                        width: 40%;
                        select{
                            width: 220px;
                        }
                    }
                }
            }
        }
        .voting-unit{
            @include mQ('1025px'){
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                >div{
                    width: 22%;
                }
            }
        }
    }
}


.show{
    display: none;
}


.modal-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    background-color: transparentize($color: #000000, $amount: 0.3);
    .inner-modal{
        background: #fff;
        margin: auto;
        height: 420px;
        width: 80%;
        position: sticky;
        display: flex;
        flex-direction: column;
        padding: 12px;
        justify-content: space-around;
        z-index: 12;
        top: 60px;
        border-radius: 20px;
        @include mQ('1025px'){
            width: 40%;
        }
        h4{
            width: 70%;
            margin: 0 auto;
            text-align: center;
            text-shadow: 0px 2px #ccc;
            font-weight: bold;
        }
        input{
            width: 70%;
            border: 1px solid #000;
        }
        .disabledBTN{
            box-shadow: 0px 0px 5px #000;
            background-color: transparent;
            background: #7db9e8; /* Old browsers */
            // background: -moz-linear-gradient(left, #7db9e8 1%, #1e5799 97%); /* FF3.6-15 */
            // background: -webkit-linear-gradient(left, #7db9e8 1%,#1e5799 97%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, #7db9e8 1%,#1e5799 97%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=1 ); /* IE6-9 */
            &:hover{
                // background: -moz-linear-gradient(left, #6590b1 1%,#3177c7 97%); /* FF3.6-15 */
                // background: -webkit-linear-gradient(left, #6590b1 1%,#3177c7 97%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to right, #6590b1 1%,#3177c7 97%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                box-shadow: 0px 0px 7px #000;
            }
            &:active{
                // background: -moz-linear-gradient(left, #6590b1 1%,#3177c7 97%); /* FF3.6-15 */
                // background: -webkit-linear-gradient(left, #6590b1 1%,#3177c7 97%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to right, #6590b1 1%,#3177c7 97%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                box-shadow: 0px 0px 7px #000;
                transform: translateY(2px);
            }
        }
        .buttons{
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            button{
                width: 100px;
                padding: 10px 0;
                border: 1px #fff solid;
                color: #fff;
                margin: 12px auto;
                border-radius: 22px;
                background-color: #cccccc !important;
                @include mQ('1025px'){
                    width: 200px;
                }
            }
            #close{
                background-color: #ca1111 !important;
                outline: none;
                box-shadow: 0px 0px 2px #000;
                border: 0 solid #000;
                &:hover{
                    box-shadow: 0px 0px 3px transparentize(#000, 0.6);
                    background-color: #d44e4e !important;
                }
                &:active{
                    box-shadow: 0px 0px 3px transparentize(#000, 0.6);
                    background-color: #d44e4e !important;
                    transform: translateY(2px)
                }
            }
        }
        .donates{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            margin: 14px 0;
            label{
                align-self: flex-start;
                margin-left: 35px;
                font-variant: small-caps;
            }
            input{
                margin-bottom: 20px;
                margin-top: 5px;
                line-height: 17px;
                padding: 9px;
                font-size: 15px;
                border-radius: 10px;
                background: #cccccc;
                border: 1px solid #333;
            }
        }
    }
}
.buttons{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    button{
        width: 100px;
        padding: 10px 0;
        border: 1px #fff solid;
        color: #fff;
        margin: 12px auto;
        border-radius: 22px;
        background-color: #cccccc !important;
        @include mQ('1025px'){
            width: 200px;
        }
    }
}

