<div class="main">
    <section>
        <div class="voting-map">
            <h5>Your Polling Unit</h5>
            <agm-map [zoom]="16" [latitude]="lat" [longitude]="lng">
                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
            </agm-map>
        </div>
        <div class="announce">
            <h5>Annoucement from: The State Chairman</h5>
            <p>Any important message will be show here</p>
            <div><button>Read</button>
            <button>Agreed</button>
            <button>Respond</button></div>
        </div>
    </section>
    <section>
        <!-- <div class="news">

        </div> -->
        <div class="secretariat">
            <address>
                No 20 Mungo Park Close, <br> Asokoro <br>Abuja
            </address>
        </div>
    </section>
</div>