<section>
  <div class="candidates">
    <h3>The Party Candidates for the coming election</h3>
    <ul>
      <li>
        <h4>Position of Candidate</h4>
        <img src="" alt="">
        <strong>Name of Candidate</strong>
      </li>
    </ul>
  </div>
</section>
<section>
  <div class="excos">
    <h3>The Party's state representative</h3>
    <ul>
      <li>
        <h4>Position of Exco</h4>
        <img src="" alt="">
        <strong>Name of Exco</strong>
      </li>
    </ul>
  </div>
</section>
<section>
  <div class="contest">
    <h3>Party Forms for Contesting</h3>
    <ul>
      <li>
        <h4>Forms for Electoral Position</h4>
        <img src="" alt="">
        <button>Pick Form</button>
      </li>
      <li>
        <h4>Forms for Party Officials</h4>
        <img src="" alt="">
        <button>Pick Form</button>
      </li>
    </ul>
  </div>
</section>