<div class="about">
    <h4>About Action Democratic Party</h4>
    <div class="theContent">
        <img src="assets/office.jpg" alt="">
        <div class="inner">
            <p>
                <strong>THE ACTION DEMOCRATIC PARTY (ADP)</strong>
                 is a registered political party in Nigeria. The party was formed and established in 2017 to deal with the lapses that have over the years been complained about by Nigerians because the tenets of true democracy have been lost thereby giving some select few a godlike image where political parties are being dictated upon by the few and powerful.
            </p>
            <span *ngIf="iniCon"> <button (click)="btnClick('register')">Join Us</button></span>
        </div>
    </div>
</div>