<div class="main">
  <h2>Candidates Section</h2>
  <div class="top-candidate">
    <h4>Presidential Aspirants</h4>
    
    <div class="list-candidates">
      <div class="candidate-details">
        <figure>
          <img src="/assets/adpcand.jpg" alt="">
          <figcaption>Fummi Adaobi Aisha</figcaption>
        </figure>
        <div class="candidate-desc">
          <h4>Profile</h4>
          <p>Objectively transform distinctive niche markets whereas team driven paradigms. Professionally administrate error-free alignments and process-centric platforms. Phosfluorescently incentivize progressive networks via highly efficient leadership skills. Globally grow state of the art networks without emerging relationships. Compellingly repurpose cooperative models after value-added markets.</p>
          <p>Seamlessly productize efficient value vis-a-vis value-added intellectual capital. Seamlessly architect functional meta-services for world-class methods of empowerment. Competently reinvent empowered e-tailers for technically sound.</p>
          <button>View Profile</button>
        </div>
      </div>
      <div class="candidate-details">
        <figure>
          <img src="/assets/adpcand.jpg" alt="">
          <figcaption>Abdullahi Uche Kayode</figcaption>
        </figure>
        <div class="candidate-desc">
          <h4>Profile</h4>
          <p>Objectively transform distinctive niche markets whereas team driven paradigms. Professionally administrate error-free alignments and process-centric platforms. Phosfluorescently incentivize progressive networks via highly efficient leadership skills. Globally grow state of the art networks without emerging relationships. Compellingly repurpose cooperative models after value-added markets.</p>
          <p>Seamlessly productize efficient value vis-a-vis value-added intellectual capital. Seamlessly architect functional meta-services for world-class methods of empowerment. Competently reinvent empowered e-tailers for technically sound.</p>
          <button>View Profile</button>
        </div>
      </div>
    </div>
  </div>
  <div class="other-candidate">
    <div class="other-views">
      <div class="sub-views">
        <h3>View Aspirants by State</h3>
        <form [formGroup]="candidatesForm">
          <select type="text" name="state" id="state" formControlName="candidateState">
            <option value="">Select State</option>
            <option *ngFor="let item of states" [value]="item">{{item}}</option>
          </select>
          <select type="text" name="state" id="state" formControlName="candidatePosition">
            <option value="">Select Position</option>
            <option value="Presidential">Presidential</option>
            <option value="Governorship">Governorship</option>
            <option value="Senatorila">Senatorial</option>
            <option value="House Of Reps">House of Reps</option>
            <option value="House of Assembly">House of Assembly</option>
          </select>
          <button (click)="ngSubmit()">View Aspirants</button>
        </form>
      </div>
    </div>
  </div>
</div>