<div class="main">
  <h2>Our Candidates</h2>
  <div class="top-candidate">
    <h4>Presidential Candidate</h4>
    <div class="list-candidates">
      <div class="candidate-details">
        <figure>
          <img src="/assets/nChairman.jpg" alt="ADP Presidential Candidate">
          <figcaption>Engr. Yabagi Y. Sani</figcaption>
        </figure>
        <div class="candidate-desc">
          <h4>Profile</h4>
          <p>Objectively transform distinctive niche markets whereas team driven paradigms. Professionally administrate error-free alignments and process-centric platforms. Phosfluorescently incentivize progressive networks via highly efficient leadership skills. Globally grow state of the art networks without emerging relationships. Compellingly repurpose cooperative models after value-added markets.</p>
          <p>Seamlessly productize efficient value vis-a-vis value-added intellectual capital. Seamlessly architect functional meta-services for world-class methods of empowerment. Competently reinvent empowered e-tailers for technically sound.</p>
          <button>View Profile</button>
        </div>
      </div>
    </div>
  </div>
  <div class="top-candidate">
    <h4>House Representative Candidate, <small>Benue State</small></h4>
    
    <div class="list-candidates">
      <div class="candidate-details">
        <figure>
          <img src="/assets/estha.jpg" alt="ADP Presidential Candidate">
          <figcaption>Engr. Esther Oyiga Oche</figcaption>
        </figure>
        <div class="candidate-desc">
          <h4>Profile</h4>
          <ul>
            <li>
              State:  Benue
            </li>
            <li>
              LGA:  Ado
            </li>
            <li>
              Sex:  Female
            </li>
            <li>
              Nationality:  Nigerian
            </li>
            <li>
              Marital Status:  Single
            </li>
            <li>
              Occupation:  Civil Engineer              
            </li>
          </ul>
          <p>Esther Oche is a Nigerian Civil Engineer, Politician, Philanthropist and Business Executive who hails from Ado LGA of Benue State. She currently serves as the National Special Duties Secretary of the Action Democratic Party ADP, a member of the NWC. <br>
            She is the candidate for Ado/Ogbadibo/Okpokwu Federal Constituency of Benue State for the 2019 general election.</p>
          <button>View Profile</button>
        </div>
      </div>
    </div>
  </div>
    <div class="top-candidate">
    <h4>Chairmanship of Abuja
        Municipal Area Council (AMAC).</h4>
    <div class="list-candidates">
      <div class="candidate-details">
        <figure>
          <img src="/assets/bisi.jpg" alt="ADP Presidential Candidate">
          <figcaption>BISI ALAGBE</figcaption>
        </figure>
        <div class="candidate-desc">
          <h4>Profile</h4>
          <p>Bisi is a Real Estate and Equities Investor, Entrepreneur, Educator, trained as a
              Professional Pharmacist at the famous Obafemi Awolowo University (formerly
              University of Ife), in Ile-Ife, Osun State. Upon graduation in 1980, he served Nigeria
              in the N.Y.S.C. program at the Nigerian Air Force Hospital in Kano as a Hospital
              Pharmacist delivering healthcare services to our noble men and women in the
              Nigerian Air Force. He later joined the pharmaceutical industry as a Pharmacy Sales
              Rep., then as Regional Manager in a reputable international pharmaceutical
              company in Lagos for six years before proceeding to California in the USA to pursue
              a Masters degree in Business Administration.</p>
          <button>View Profile</button>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="other-candidate">
    <div class="other-views">
      <div class="sub-views">
        <h3>View Aspirants by State</h3>
        <form [formGroup]="candidatesForm">
          <select type="text" name="state" id="state" formControlName="candidateState">
            <option value="">Select State</option>
            <option *ngFor="let item of states" [value]="item">{{item}}</option>
          </select>
          <select type="text" name="state" id="state" formControlName="candidatePosition">
            <option value="">Select Position</option>
            <option value="Presidential">Presidential</option>
            <option value="Governorship">Governorship</option>
            <option value="Senatorila">Senatorial</option>
            <option value="House Of Reps">House of Reps</option>
            <option value="House of Assembly">House of Assembly</option>
          </select>
          <button>View Aspirants</button>
        </form>
      </div>
    </div>
  </div> -->
</div>