<header>
  <div class="topBar">
    <img src="assets/adplogo.jpg" class="logo" alt="">
    <div class="menuCase">
      <div>
        <span id="mobileMenu"><fa-icon [icon]="bars"></fa-icon></span>
        <ul id="menuList" class="menuHide">
          <li class="menu">
            Home
          </li>
          <li class="menu">
            About Us
          </li>
          <li class="menu">
            Structure
          </li>
          <li class="menu">
            Register
          </li>
          <li class="menu">
            Secretariats
          </li>
          <li class="menu">
            Contact
          </li>
        </ul>
      </div>
      <div class="socials">
        <ul class="socialMedia">
          <li><fa-icon [icon]="twitter"></fa-icon></li>
          <li><fa-icon [icon]="facebook"></fa-icon></li>
          <li><fa-icon [icon]="instagram"></fa-icon></li>
          <li><fa-icon [icon]="medium"></fa-icon></li>
        </ul>
        <div class="search">
          <input type="search" name="search" id="search">
          <button><fa-icon [icon]="search"></fa-icon></button>
        </div>
      </div>
    </div>
  </div>
</header>