@import '../../sass/_variables';
@import '../../sass/_mixins';
header{
    display: flex;
    flex-direction: column;
    width: 100%;
    .topBar {
        display: flex;
        flex-direction: row;
        margin-top: 15px;
        margin-bottom: 5px;
        height: 100px;
        img{
            position: absolute;
            z-index: 4;
            top: 35px;
            left: 10px;
            @include mQ('1025px'){
                position: static;
                margin-left: 70px;
                margin-top: 0px;
            }
        }
        @include mQ('1025px'){
            position: relative;
            height: 150px;
        }
    }
}
.logo{
    width: 140px;
    height: 70px;
    margin: 10px;
    @include mQ('1025px'){
        width: 325px !important;
        height: 130px;
    }
}

.socials{
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include mQ('1025px'){
        position: static;
        margin: 12px 0;
        width: 300px;
        height: 120px;
        align-items: center;
        justify-content: space-between;
    }
}

.search{
    display: none;
    @include mQ('1025px'){
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
}

.socialMedia{
    list-style-type: none;
    display: flex;
    width: 100%;
    flex-direction: row;
    // background-color: #fff;
    justify-content: space-evenly;
    box-sizing: border-box;
    li{
        margin: 10px 0;
        font-size: 15px;
        @include mQ('1025px'){
            font-size: 25px;
        }
    }
    @include mQ('1025px'){
        width: 220px;
    }
}


#search{
    width: 50vw;
    position: absolute;
    right: 70px;
    top: 70px;
    z-index: 2;
    display: none;
    @include mQ('1025px'){
        position: static;
        display: block;
        width: 200px;
        border: 1px solid black;
        padding: 8px;
        border-radius: 20px;
    }
    & + button{
        font-size: 25px;
        position: relative;
        left: -25px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: #000;
        border: 1px;
        color: #fff;
        padding: 0 12px;
        z-index: 3;
    }
}

.menuCase{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    margin: 10px 0;
    #mobileMenu{
        position: absolute;
        right: 20px;
        top: 45px;
        z-index: 2;
        &:first-child{
            font-weight: bold;
            font-size: 40px;
        }
        @include mQ('1025px'){
            display: none;
        }
    }
    @include mQ('1025px'){
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
}

.menuHide {
    display: none !important;
    @include mQ('1025px'){
        display: flex !important;
    }
}

#menuList{
    list-style-type: none;
    position: absolute;
    // background: #000;
    z-index: 2;
    padding: 0;
    margin: 0;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    li{
        margin: 15px 0;
        text-align: center;
        @include mQ('1025px'){
            text-transform: uppercase;
            font-family: $fontSet;
            font-size: 14px;
            border-bottom: 4px white solid;
            font-weight: 600 !important;
            padding-bottom: 5px;
            &:hover{
                border-bottom: 4px red solid;
            }    
        }
    }
    @include mQ('1025px'){
        flex-direction: row;
        width: 45vw;
        position: static;
        margin: 0 auto;
        align-items: baseline;
    }
}
