<div class="main">
  <h2>Candidates Section</h2>
  <div class="top-candidate">
    <h4>Presidential Aspirants</h4>
    <div *ngFor="let key of objectKeys(candidateDetail)" class="list-candidates">
      <div class="candidate-details">
        <figure>
          <img [src]="candidateDetail[key].picture.large" alt="">
          <figcaption>{{candidateDetail[key].name.first.toUpperCase(1) +' '+ candidateDetail[key].name.last}}</figcaption>
        </figure>
        <div class="candidate-desc">
          <h4>Profile</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem soluta delectus, voluptates inventore, ea magnam quibusdam accusamus ratione eum dolor cupiditate ex ipsa repellendus earum odio recusandae quo doloremque debitis!</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, sequi? Eveniet, quaerat vel aliquam officia voluptatem minima perferendis quae unde assumenda dignissimos architecto nisi, eius ut nam blanditiis consequatur. Ad!</p>
          <button>View Profile</button>
        </div>
      </div>
      <div class="candidate-details">
        <figure>
          <img [src]="candidateDetail[key].picture.large" alt="">
          <figcaption>{{candidateDetail[key].name.first.toUpperCase(1) +' '+ candidateDetail[key].name.last}}</figcaption>
        </figure>
        <div class="candidate-desc">
          <h4>Profile</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem soluta delectus, voluptates inventore, ea magnam quibusdam accusamus ratione eum dolor cupiditate ex ipsa repellendus earum odio recusandae quo doloremque debitis!</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, sequi? Eveniet, quaerat vel aliquam officia voluptatem minima perferendis quae unde assumenda dignissimos architecto nisi, eius ut nam blanditiis consequatur. Ad!</p>
          <button>View Profile</button>
        </div>
      </div>
    </div>
  </div>
  <div class="other-candidate">
    <div class="other-views">
      <div class="sub-views">
        <h3>View Aspirants by State</h3>
        <label for="state">State Level</label>
        <form action="">
          <select type="text" name="state" id="state">
            <option value="Select Ward">Select Ward</option>
          </select>
          <button>View Aspirants</button>
        </form>
      </div>
    </div>
    <div class="other-views">
      <div class="sub-views">
        <h3>View Aspirants by LGA</h3>
        <label for="state">LGA Level</label>
        <form action="">
          <select type="text" name="LGA" id="LGA">
            <option value="Select LGA">Select LGA</option>
          </select>
          <button>View Aspirants</button>
        </form>
      </div>
      <div class="sub-views">
        <h3>View Aspirants by Ward</h3>
        <label for="ward">Ward Level</label>
        <form action="">
          <select type="text" name="ward" id="ward">
            <option value="Select Ward">Select Ward</option>
          </select>
          <button>View Aspirants</button>
        </form>
      </div>
    </div>
  </div>
</div>