<header>
  <div class="topBar">
    <img src="assets/adplogo.jpg" class="logo" alt="">
    <div class="menuCase">
      <div>
        <span id="mobileMenu"><fa-icon (click)="toggleMenu()" [icon]="bars"></fa-icon></span>
        <ul id="menuList" [ngClass]="{'menuHide': navOpen}">
          <li class="menu">
            <a [routerLink]="['/']">Home</a>
          </li>
          <li class="menu">
            <a [routerLink]="['/about']" routerLinkActive="router-link-active" >About Us</a>
          </li>
          <li class="menu">
            <a [routerLink]="['/structure']"  routerLinkActive="router-link-active">Structure</a>
          </li>
          <ng-container *ngIf="!isLoggedIn; else itMember">
            <li class="menu">
              <a [routerLink]="['/register']" routerLinkActive="router-link-active"> Register</a>
            </li>
          </ng-container>
          <ng-template #itMember>
            <li class="menu">
              <a [routerLink]="['/member']" routerLinkActive="router-link-active"> Member</a>
            </li>
          </ng-template>
          <li class="menu">
            <a [routerLink]="['/candidates']" routerLinkActive="router-link-active"> Candidates</a>
          </li>
          <li class="menu">
            <a [routerLink]="['/contact']" routerLinkActive="router-link-active"> Contact</a>
          </li>
        </ul>
      </div>
      <div class="socials">
        <ul class="socialMedia">
          <li><a href="https://twitter.com/adpng" target="_blank"><fa-icon [icon]="twitter"></fa-icon></a></li>
          <li><a href="https://fb.me/adpnigeria" target="_blank"><fa-icon [icon]="facebook"></fa-icon></a></li>
          <li><a href="https://instagram.com/adpnigeria" target="_blank"><fa-icon [icon]="instagram"></fa-icon></a></li>
          <li><a href="https://medium.com/action-democratic-party" target="_blank"><fa-icon [icon]="medium"></fa-icon></a></li>
          <li><a href="https://www.youtube.com/channel/UCZeeD86RO6j_ZsUzjwNezgw" target="_blanck"><fa-icon [icon]="youtube"></fa-icon></a></li>
        </ul>
        <!-- <div class="search">
          <input type="search" name="search" id="search">
          <button><fa-icon [icon]="search"></fa-icon></button>
        </div> -->
      </div>
    </div>
  </div>
</header>