<div class="main">
  <section class="check-member">
    <div class="member">
      <div class="group-field">
        <label for="member">Member Info</label>
        <input type="text" name="member" id="member" placeholder="Member ID Number">
        <ul>
          <li><label><input type="radio" name="memberBy" id="idnumber" value="PVC Number"> By PVC Number</label></li>
          <li><label><input type="radio" name="memberBy" id="phoneNumber" value="Phone Number"> By Phone Number</label></li>
          <li><label><input type="radio" name="memberBy" id="cardnumber" value="Card Number"> By Card Number</label></li>
        </ul>
        <button>Check Member</button>
      </div>
    </div>
    <div class="member">
      <div class="member-details">
        <figure>
          <img src="" alt="Member Name">
        </figure>
        <div class="details">
          <table>
            <tr><th>Name:</th><td>Hassan Check</td></tr>
            <tr><th>Local Govt:</th><td>Bida</td></tr>
            <tr><th>State:</th><td>Niger</td></tr>
            <tr><th>Status:</th><td>Paid</td></tr>
            <tr><th>Date Joined:</th><td>June 17, 2018</td></tr>
          </table>
        </div>
      </div>
    </div>
  </section>
  <section class="list-members">
    <div class="member">
      <h4>Members By States</h4>
      <table>
        <thead>
          <tr>
            <th>State</th>
            <th>Zone</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Kaduna</td>
            <td>North West</td>
            <td>43,000</td>
          </tr>
          <tr>
            <td>Kaduna</td>
            <td>North West</td>
            <td>43,000</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="member">
      <h4>Status of Members</h4>
      <table>
        <thead>
          <tr>
            <th>Status</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Unpaid</td>
            <td>43,000</td>
          </tr>
          <tr>
            <td>Suspended</td>
            <td>43,000</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="member">
      <h4>Members By Statistics</h4>
      <table>
        <thead>
          <tr>
            <th>Members</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Female</td>
            <td>43,000</td>
          </tr>
          <tr>
            <td>Male</td>
            <td>43,000</td>
          </tr>
          <tr>
            <td>Elderly</td>
            <td>43,000</td>
          </tr>
          <tr>
            <td>Youth</td>
            <td>43,000</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</div>