<div class="main">
  <section class="check-member">
    <div class="member">
      <div class="group-field" [formGroup]="memberCheck" >
        <label for="member">Member Info</label>
        <input type="text" formControlName="memberField" id="member" placeholder="Member ID Number">
        <ul>
          <li><label><input type="radio" formControlName="memberBy" id="idnumber" value="PVC Number"> By PVC Number</label></li>
          <li><label><input type="radio" formControlName="memberBy" id="phoneNumber" value="Phone Number"> By Phone Number</label></li>
          <li><label><input type="radio" formControlName="memberBy" id="cardnumber" value="Card Number"> By Card Number</label></li>
        </ul>
        <button (click)="checkMember()" [disabled]="!memberCheck.valid">Check Member</button>
      </div>
    </div>
    <div class="member">
      <div class="member-details">
        <ng-container *ngIf="change; else changed">
          <p style="width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center;">Getting User data</p>
        </ng-container>
        <ng-template #changed>
        <figure>
          <img [src]="passport" [alt]="gotName">
        </figure>
        <div class="details">
          <table>
            <tr><th>Name:</th><td>{{gotName}}</td></tr>
            <tr><th>Local Govt:</th><td>{{gotLGA}}</td></tr>
            <tr><th>State:</th><td>{{gotState}}</td></tr>
            <tr><th>Status:</th><td>{{gotStatus}}</td></tr>
            <tr><th>Date Joined:</th><td>{{ gotDate | date }}</td></tr>
          </table>
          {{msg}}
        </div>
        </ng-template>
      </div>
    </div>
  </section>
  <!-- <ng-container *ngIf="memberHere; then memberEdit; else nothingHere"></ng-container>
  <ng-template #memberEdit>

  </ng-template>
  <ng-template #nothingHere>
   <section class="nothingHere">
    <div class="otherDetails">
      <div class="input-field">
        <label for="candidate">Assign Position</label>
          <select type="text" name="state" id="state" formControlName="candidatePosition">
            <option value="">Select Position</option>
            <option value="Presidential">Presidential</option>
            <option value="Governorship">Governorship</option>
            <option value="Senatorila">Senatorial</option>
            <option value="House Of Reps">House of Reps</option>
            <option value="House of Assembly">House of Assembly</option>
          </select>
      </div>
      <div class="input-field">
        <label for="bio">Little Bio</label>
        <textarea name="little_bio" cols="30" rows="10"></textarea>
      </div>
      <div class="buttons">
        <button>Appoint</button>
      </div>
    </div>
   </section>
  </ng-template> -->
  <!-- <section class="list-members">
    <div class="member">
      <h4>Members By States</h4>
      <table>
        <thead>
          <tr>
            <th>State</th>
            <th>Zone</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Kaduna</td>
            <td>North West</td>
            <td>43,000</td>
          </tr>
          <tr>
            <td>Kaduna</td>
            <td>North West</td>
            <td>43,000</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="member">
      <h4>Status of Members</h4>
      <table>
        <thead>
          <tr>
            <th>Status</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Unpaid</td>
            <td>43,000</td>
          </tr>
          <tr>
            <td>Suspended</td>
            <td>43,000</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="member">
      <h4>Members By Statistics</h4>
      <table>
        <thead>
          <tr>
            <th>Members</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Female</td>
            <td>43,000</td>
          </tr>
          <tr>
            <td>Male</td>
            <td>43,000</td>
          </tr>
          <tr>
            <td>Elderly</td>
            <td>43,000</td>
          </tr>
          <tr>
            <td>Youth</td>
            <td>43,000</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section> -->
</div>