@import '../../../../sass/variables';
@import '../../../../sass/mixins';

.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    section{
        width: 80%;
        margin: 15px auto;
        height: 330px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .member{
            width: 330px;
            height: 100%;
            border-radius: 15px;
            background-color: #3c444d;
            box-shadow: 0px 0px 5px #333;
            padding: 15px;
            box-sizing: border-box;
            @include mQ('1025px', '1360px') {
                width: 300px;
                height: 300px;
            }
            table{
                margin: 12px 0;
                width: 100%;
                border-collapse: collapse;
                th, td{
                    margin: 10px 0;
                    text-align: left;
                }
                &:nth-child(2){
                    th{
                        border-bottom: 1px solid #000;
                    }
                    th, td{
                        padding: 10px 7px;
                    }
                    tr:nth-child(even){
                        background-color: transparentize($color: #fff, $amount: 0.6);
                    }
                }
            }
        }
    }
    .check-member {
        .member{
            .group-field{
                margin: 12px 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                ul{
                    list-style: none;
                    margin: 1px;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    li{
                        margin: 10px 0;
                        label{
                            font-size: 16px;
                            font-weight: normal;
                        }
                    }
                }
                label{
                    color: #ffffff;
                    margin-bottom: 12px;
                    font-size: 24px;
                    font-weight: bold;
                    line-height: 24px;
                }
                input:not([type="radio"]){
                    border: 0;
                    margin: 11px 0;
                    border-bottom: 1px solid #ccc;
                    background-color: transparent;
                    width: 240px;
                    color: #ffffff;
                    font-size: 17px;
                    padding: 3px 6px;
                }
                button{
                    border: 1px solid #ccc;
                    padding: 6px;
                    height: 45px;
                    font-size: 17px;
                    font-weight: bold;
                    color: #fcfcfc;
                    border-radius: 21px;
                    background: #7db9e8; /* Old browsers */
                    // background: -moz-linear-gradient(left, #7db9e8 1%, #1e5799 97%); /* FF3.6-15 */
                    // background: -webkit-linear-gradient(left, #7db9e8 1%,#1e5799 97%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to right, #7db9e8 1%,#1e5799 97%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=1 ); /* IE6-9 */
                    :not([disabled]){
                        &:hover{
                            background: linear-gradient(90deg, #428bd8 0%, #0c1b68 186.42%);
                            box-shadow: 1px 2px 5px #000;
                        }
                        &:active{
                            background: linear-gradient(90deg, #428bd8 0%, #0c1b68 186.42%);
                            box-shadow: 1px 4px 5px #000;
                            transform: translateY(2px);
                        }
                    }
                    &:disabled{
                        background: linear-gradient(90deg, #9ab1ca 0%, #fafafd 186.42%);
                        box-shadow: 1px 2px 1px #000;
                    }
                    @include mQ('1025px'){
                        width: 200px;
                    }
                }
            }
            &:nth-child(2){
                background: linear-gradient(90deg, #4BA0FD 0%, #030D42 186.42%);
            }
            .member-details{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                color: #ffffff;
                figure{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;
                    img{
                        height: 106px;
                        width: 120px;
                        margin: 12px auto;
                        border: 1px solid #fff;
                        border-radius: 8px;
                        box-shadow: 0px 0px 3px #000;
                    }
                }
            }
        }
    }
    .list-members{
        width: 98%;
    }
}