@import '../../../../sass/variables';
@import '../../../../sass/mixins';

.statistics {
  width: 100%;
  margin: 47px auto;
  height: 330px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  section {
    width: 330px;
    margin-left: 10px;
    height: 330px;
    background-color: #3c444d;
    box-shadow: 0px 0px 5px #333;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #ffffff;
    align-items: center;
    padding: 15px;
    box-sizing: border-box;

    @include mQ('1025px', '1360px') {
      width: 300px;
      height: 300px;
    }

    &:nth-child(3) {
      background: linear-gradient(90deg, #4BA0FD 0%, #030D42 186.42%);
    }

    fa-icon {
      align-self: flex-end;

      +div {
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 90%;
        margin: 0 auto;
        align-items: center;

        .messages {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;

          span {
            display: flex;
            justify-content: flex-start;
            position: relative;

            fa-icon {
              font-size: 66px;
            }

            label {
              font-size: 15px;
              margin-top: 12px;
              color: #e60000;
              font-weight: bold;
            }
          }
        }

        h2 {
          border: 3px solid #030D42;
          padding: 40px;
          background: transparent;
          box-shadow: 5px 5px 5px #000;
          border-radius: 50%;
          font-size: 45px;
          text-shadow: 5px 5px 1px #000;
        }
      }
    }
  }
}

.graphing {
  width: 100%;
  margin: 25px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  section {
    background-color: #3c444d;
    box-shadow: 0px 0px 5px #333;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    height: 410px;
    justify-content: center;
    margin-left: 15px;

    &:nth-child(1) {
      width: 690px;
      padding: 12px;
      box-sizing: border-box;

      @include mQ('1025px', '1360px') {
        width: 670px;
        height: 390px;
      }
    }

    &:nth-child(2) {
      width: 330px;

      @include mQ('1025px', '1360px') {
        width: 300px;
        height: 390px;
      }
    }
  }
}
