<div class="statistics">
  <section>
    <!-- <fa-icon [icon]="threeDots"></fa-icon> -->
    <div class="new-signups">
      <h3>Total Members</h3>
      <h2 class="circle" [innerText]="total"></h2>
    </div>
  </section>
  <section>
    <!-- <fa-icon [icon]="threeDots"></fa-icon> -->
    <div>
      <h3>Members Genda Distribution</h3>
      <ngx-chartjs [data]="data" type="doughnut"></ngx-chartjs>
    </div>
  </section>
  <section>
    <!-- <fa-icon [icon]="threeDots"></fa-icon> -->
    <div>
      <div class="messages">
        <span>
          <fa-icon [icon]="message"></fa-icon>
          <label [innerText]="messages"></label>
        </span>

        <span>
          <fa-icon [icon]="male"></fa-icon>
          <label [innerText]="adminRequests"></label>
        </span>
      </div>
    </div>
    <p>Unread Messages and Admin Request</p>
  </section>
</div>
<div class="graphing">
  <section>
    <ngx-chartjs [data]="member" type="line"></ngx-chartjs>
  </section>
  <section class="hereMe">
      <h3>Age Distribution</h3>
      <ngx-chartjs [data]="ageDis" type="doughnut"></ngx-chartjs>
  </section>
</div>
