<div class="main">
    <app-drag-one></app-drag-one>
    <div class="about">
        <div class="contents">
            <div class="aboutContent" *ngIf="newsList;else noNews">
                <img [src]="newsList.thumbnail" [alt]="newsList.title">
                <div>
                    <h3> <a [href]="newsList.guid" target="_blank">{{newsList.title}}</a></h3>
                    <p [innerHTML]='newsList.content | format : 350 : true'>
                    </p>
                    <p>
                        {{newsList.pubDate | date: 'dd MMM, yyyy'}}
                    </p>
                </div>
            </div>
            <ng-template #noNews>
                <div class="aboutContent">
                    <img src="assets/nigeria.jpg" alt="The Nigeria Map">
                    <div>
                        <h3>Join ADP Today</h3>
                        <p>
                                The One Destiny Family of more than 200,000+ Nigerians ready to build a better Nigeria what are you waiting for Join the Family.
                        </p>

                        <p>
                                Nigeria must rise again and live up to the true meaning of its creed. As the giant of Africa Nigeria must move beyond the current political quagmire of today.
                        </p>
                    </div>
                </div>
            </ng-template>
            <app-mission class="mission"></app-mission>
        </div>
        <app-news></app-news>
    </div>

    <div class="theParty">
        <app-about-section></app-about-section>
        <app-login-section></app-login-section>
    </div>

    <div class="theChairman">
        <div class="theContent">
            <img src="assets/nChairman.jpg" alt="The ADP National Chairman">
            <div class="contents">
                <h4>Chairman's Desk</h4>
                <p>
                    The National Chairman of the Action Democratic Party (ADP), Engr. Yabagi Sani, spoke with Press men in Abuja. He expressed dissatisfaction with the way the economy of the country was being run, insisting that the interest of the masses do not feature in the decision made by the ruling party...
                </p>
                <button (click)="btnClick('about')">Read More</button>
            </div>
        </div>
        <app-quicklinks></app-quicklinks>
    </div>
</div>