@import '../../../../sass/_variables';
@import '../../../../sass/_mixins';
.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .contents{
        width: 90%;
        height: 400px;
        box-shadow: 0px 0px 2px #ccc;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        box-sizing: border-box;
        @include  mQ('1025px'){
            box-sizing: content-box;
            width: 540px;
            height: auto;
            margin: 20px;
        }
        .userDetail{
            display: flex;
            flex-direction: column;
            @include mQ('1025px'){
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
            }
        }
        .regPayment{
            width: 100%;
            padding: 20px;
            margin: 0;
            margin-top: 32px;
            border-top: 1px solid #000;
            box-sizing: border-box;
            height: 350px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            .forms{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                width: 100%;
            }
            .input-field{
                display: flex;
                flex-direction: column;
                margin: 12px 0;
                width: 80%;
                @include mQ('1025px'){
                    width: 50%;
                }
                label{
                    margin: 5px 0;
                    cursor: default;
                }
                select{
                    padding: .375rem .75rem;
                    font-size: 1rem;
                    line-height: 1.5;
                    color: #495057;
                    background-color: #fff;
                    background-clip: padding-box;
                    border: 1px solid #ced4da;
                    border-radius: .25rem;
                }
            }
        }
        figure{
            width: 200px;
            height: 230px;
            box-shadow: 0px 0px 2px #ccc;
            margin: 12px 5px;
            img{
                width: 220px;
            }
            figcaption{
                width: 100%;
                text-align: center;
            }
        }
        .details{
            overflow: hidden;
            h3{
                width: 100%;
                text-align: center;
                margin: 8px 0;
            }
            p{
                text-align: justify;
            }
        }
    }
}

.failed{
    color: #ff0000 !important;
}