@import '../../../../sass/_variables';
@import '../../../../sass/_mixins';
.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .contents{
        width: 90%;
        box-shadow: 0px 0px 2px #ccc;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        box-sizing: border-box;
        @include  mQ('1025px'){
            box-sizing: content-box;
            width: 540px;
            height: auto;
            margin: 20px;
        }
        .userDetail{
            display: flex;
            flex-direction: column;
            @include mQ('1025px'){
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
            }
        }
        .regPayment{
            width: 100%;
            padding: 20px;
            margin: 0;
            margin-top: 32px;
            border-top: 1px solid #000;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            .forms{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                width: 100%;
                .sub{
                    margin: 20px 0;
                }
                button{
                    width: 214px;
                    height: 42px;
                    background: linear-gradient(90deg, #4BA0FD 0%, #030D42 186.42%);
                    border-radius: 30px;
                    border: 0;
                    color: #ffffff;
                    font-size: 14px;
                    line-height: 22px;
                    text-transform: uppercase;
                    box-shadow: 0px 0px 1px transparentize(#000, 0.4);
                    &:hover{
                        box-shadow: 0px 0px 2px  2px transparentize(#000, 0.55);
                    }
                    &:active{
                        // background: -moz-linear-gradient(left, #6590b1 1%,#3177c7 97%); /* FF3.6-15 */
                        // background: -webkit-linear-gradient(left, #6590b1 1%,#3177c7 97%); /* Chrome10-25,Safari5.1-6 */
                        background: linear-gradient(to right, #6590b1 1%,#3177c7 97%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                        box-shadow: 0px 0px 7px #000;
                        transform: translateY(2px);
                    }
                }
            }
            .input-field{
                display: flex;
                flex-direction: column;
                margin: 12px 0;
                width: 80%;
                @include mQ('1025px'){
                    width: 50%;
                }
                label{
                    margin: 5px 0;
                    cursor: default;
                }
                select{
                    padding: .375rem .75rem;
                    font-size: 1rem;
                    line-height: 1.5;
                    color: #495057;
                    background-color: #fff;
                    background-clip: padding-box;
                    border: 1px solid #ced4da;
                    border-radius: .25rem;
                }
            }
        }
        figure{
            width: 200px;
            height: 230px;
            box-shadow: 0px 0px 2px #ccc;
            margin: 12px 15px;
            img{
                width: 190px;
                margin: 12px 15px;
            }
            figcaption{
                width: 100%;
                text-align: center;
            }
        }
        .details{
            overflow: hidden;
            h3{
                width: 100%;
                text-align: center;
                margin: 8px 0;
            }
            p{
                text-align: justify;
            }
        }
    }
}

.failed{
    color: #ff0000 !important;
}