@import '../../../../sass/_variables';
@import '../../../../sass/_mixins';
.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .contents{
        width: 90%;
        height: 400px;
        box-shadow: 0px 0px 2px #ccc;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        box-sizing: border-box;
        @include  mQ('1025px'){
            box-sizing: content-box;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 540px;
            height: 330px;
            margin: 20px;
        }
        figure{
            width: 220px;
            height: 270px;
            box-shadow: 0px 0px 2px #ccc;
            margin: 12px;
            img{
                width: 220px;
            }
            figcaption{
                width: 100%;
                text-align: center;
            }
        }
        .details{
            overflow: hidden;
            h3{
                width: 100%;
                text-align: center;
                margin: 8px 0;
            }
            p{
                text-align: justify;
            }
        }
    }
}