@import '../../../../sass/variables';
@import '../../../../sass/_mixins';

.slide{
    position: relative;
    width: 100%;
    height: 200px !important;
    @include mQ('1025px'){
        height: 450px !important;
        box-shadow: 0px 30px 30px transparentize(#333, 0.8);
        margin-bottom: 40px;
    }
    .slideContent{
        position: relative;
        width: 100%;
        height: 100%;
        background-color: transparentize($color: #000000, $amount: 0.5);
        font-family: $fontForSlide;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color: #fff;
        align-items: center;
        box-sizing: border-box;
        padding: 30px 0;
        @include mQ('1025px'){
            p{
                width:50%;
                margin-top: 10px;
                margin: auto;
                font-size: 20px;
            }
        }
        h3{
            font-weight: 900;
            @include mQ('1025px'){
                margin-bottom: 20px;
                font-size: 28px;
            }
        }

        .join{
            display: flex;
            flex-direction: row;
            width: 70%;
            margin: 0 auto;
            justify-content: space-around;
            @include mQ('1025px'){
                margin-top: 40px;
                width: 40%;
                justify-content: space-between;
            }
            button{
                width: 100px;
                padding: 10px 0;
                border: 1px #fff solid;
                color: #fff;
                border-radius: 22px;
                background-color: transparent;
                &:first-child{
                    background: #7db9e8; /* Old browsers */
                    // background: -moz-linear-gradient(left, #7db9e8 1%, #1e5799 97%); /* FF3.6-15 */
                    // background: -webkit-linear-gradient(left, #7db9e8 1%,#1e5799 97%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to right, #7db9e8 1%,#1e5799 97%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=1 ); /* IE6-9 */
                }
                @include mQ('1025px'){
                    width: 200px;
                }
            }
        }
    }
}