@import '../../../../sass/variables';
@import '../../../../sass/mixins';

.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    section{
        width: 100%;
        margin: 15px auto;
        height: 330px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        &>div{
            width: 330px;
            height: 100%;
            border-radius: 15px;
            background-color: #3c444d;
            box-shadow: 0px 0px 5px #333;
            padding: 15px;
            box-sizing: border-box;
            display: flex;
            color: #ffffff;
            flex-direction: column;
            @include mQ('1025px', '1360px') {
                width: 300px;
            }
            .input-field{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: flex-start;
                margin: 4px 0;
                label{
                    margin: 2px 0;
                }
                small{
                    margin: 2px 0;
                }
                select{
                    height: 32px;
                }
            }
        }
        .appoint{
            width: 330px;
            border-radius: 15px;
            background-color: #3c444d;
            box-shadow: 0px 0px 5px #333;
            padding: 15px;
            box-sizing: border-box;
            display: flex;
            color: #ffffff;
            flex-direction: column;
        }
        .list-excos{
            width: 90%;
            width: 5px auto;
            display: flex;
            flex-direction: column;

            .details{
                display: flex;
                flex-direction: row;
                flex-flow: wrap;
                width: 100%;
                justify-content: space-around;
                align-items: center;
                margin-bottom: 12px;
            }
            table{
                width: 100%;
                border-collapse: collapse;
                overflow: scroll;
                thead td{
                    text-align: center;
                    border: 2px solid #fff;
                    padding: 12px;
                    font-size: 18px;
                    font-weight: 500;
                    font-family: 'Roboto' serif;
                    &:nth-child(1){
                        width: 23px;
                    }
                }
                tbody td{
                    padding: 8px;
                    text-align-last: left;
                    border: 2px solid #fff;
                }
                tbody tr:nth-child(odd){
                    background-color: rgba(134, 133, 133, 0.61);
                }

            }    
        }
    }
    .check-member {
        .member{
            .group-field{
                margin: 12px 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                ul{
                    list-style: none;
                    margin: 1px;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    li{
                        margin: 10px 0;
                        label{
                            font-size: 16px;
                            font-weight: normal;
                        }
                    }
                }
                label{
                    color: #ffffff;
                    margin-bottom: 12px;
                    font-size: 24px;
                    font-weight: bold;
                    line-height: 24px;
                }
                input:not([type="radio"]){
                    border: 0;
                    margin: 11px 0;
                    border-bottom: 1px solid #ccc;
                    background-color: transparent;
                    width: 240px;
                }
                button{
                    border: 1px solid #ccc;
                    padding: 6px;
                    height: 45px;
                    font-size: 17px;
                    font-weight: bold;
                    color: #fcfcfc;
                    border-radius: 21px;
                    background: #7db9e8; /* Old browsers */
                    // background: -moz-linear-gradient(left, #7db9e8 1%, #1e5799 97%); /* FF3.6-15 */
                    // background: -webkit-linear-gradient(left, #7db9e8 1%,#1e5799 97%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to right, #7db9e8 1%,#1e5799 97%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=1 ); /* IE6-9 */
                    &:hover{
                        background: linear-gradient(90deg, #428bd8 0%, #0c1b68 186.42%);
                        box-shadow: 1px 2px 5px #000;
                    }
                    &:active{
                        background: linear-gradient(90deg, #428bd8 0%, #0c1b68 186.42%);
                        box-shadow: 1px 4px 5px #000;
                        transform: translateY(2px);
                    }
                    @include mQ('1025px'){
                        width: 200px;
                    }
                }
            }
            &:nth-child(2){
                background: linear-gradient(90deg, #4BA0FD 0%, #030D42 186.42%);
            }
            .member-details{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                color: #ffffff;
                figure{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;
                    img{
                        height: 106px;
                        width: 120px;
                        margin: 12px auto;
                        border: 1px solid #fff;
                        border-radius: 8px;
                        box-shadow: 0px 0px 3px #000;
                    }
                }
            }
        }
    }
    .list-members{
        width: 98%;
    }
}
form{
    width: 100%;
}