<div class="main">
  <section class="check-member">
    <div class="member">
      <div class="group-field">
        <label for="member">Member Info</label>
        <input type="text" name="member" id="member" placeholder="Member ID Number">
        <ul>
          <li><label><input type="radio" name="memberBy" id="idnumber" value="PVC Number"> By PVC Number</label></li>
          <li><label><input type="radio" name="memberBy" id="phoneNumber" value="Phone Number"> By Phone Number</label></li>
          <li><label><input type="radio" name="memberBy" id="cardnumber" value="Card Number"> By Card Number</label></li>
        </ul>
        <button>Check Member</button>
      </div>
    </div>
    <div class="member">
      <div class="member-details">
        <figure>
          <img src="" alt="Member Name">
        </figure>
        <div class="details">
          <table>
            <tr><th>Name:</th><td>Hassan Check</td></tr>
            <tr><th>Local Govt:</th><td>Bida</td></tr>
            <tr><th>State:</th><td>Niger</td></tr>
            <tr><th>Status:</th><td>Paid</td></tr>
            <tr><th>Date Joined:</th><td>June 17, 2018</td></tr>
          </table>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="appoint">
      <h3>Appoint As</h3>
      <div class="input-field">
        <label for="position">Position</label>
        <select name="position" id="position">
          <option value="">Select Below</option>
          <option value="admin">Admin</option>
          <option value="Party Exco">Party Exco</option>
        </select>
        <small>If Party Exco please type the position name below</small>
        <input type="text" name="posName" id="posName">
      </div>
      <div class="input-field">
        <label for="level">Position Level</label>
        <select name="level" id="level">
          <option value="">Select Below</option>
          <option value="Polling Unit">Polling Unit</option>
          <option value="Ward">Ward</option>
          <option value="Local Govt">Local Govt</option>
          <option value="State">State</option>
          <option value="National">National</option>
        </select>
      </div>
      <div class="buttons">
        <button>Appoint</button>
      </div>
    </div>
    <div class="contact">
      <h4>Create Contact Address</h4>
      <div class="input-field">
        <label for="address">Address</label>
        <textarea name="address" id="address" cols="30" rows="10"></textarea>
      </div>
      <div class="input-field">
        <label for="party_email">Email:</label>
        <input type="email" name="party_email" id="party_email">
      </div>
      <div class="input-field">
        <label for="phone">Phone:</label>
        <input type="text" name="phone" id="phone">
      </div>
    </div>
    <div class="locations">
      <div class="input-field">
        <label for="level">Position Level</label>
        <select name="level" id="level">
          <option value="">Select Below</option>
          <option value="Polling Unit">Polling Unit</option>
          <option value="Ward">Ward</option>
          <option value="Local Govt">Local Govt</option>
          <option value="State">State</option>
          <option value="National">National</option>
        </select>
      </div>
      <div class="input-field">
        <label for="contactState">State</label>
        <select name="contactState" id="contactState">
          <option value="">Select Below</option>
        </select>
      </div>
      <div class="input-field">
        <label for="contactLGA">Contact Local Govt</label>
        <select name="contactLGA" id="contactLGA">
          <option value="">Select Below</option>
        </select>
      </div>
      <div class="input-field">
        <label for="contactWard">Contact Ward</label>
        <select name="contactWard" id="contactWard">
          <option value="">Select Below</option>
        </select>
      </div>
      <div class="input-field">
        <label for="pulling">Polling Unit Contact</label>
        <select name="pulling" id="pulling">
          <option value="">Select Below</option>
        </select>
      </div>
      <div class="buttons">
        <button>Add Contact</button>
      </div>
    </div>
  </section>
  <section>
    <div class="list-excos">
      <h4>List of Excos</h4>
      <div class="details">
      <div class="input-field">
        <label for="level">Position Level</label>
        <select name="level" id="level">
          <option value="">Select Below</option>
          <option value="Polling Unit">Polling Unit</option>
          <option value="Ward">Ward</option>
          <option value="Local Govt">Local Govt</option>
          <option value="State">State</option>
          <option value="National">National</option>
        </select>
      </div>
      <div class="input-field">
        <label for="contactState">State</label>
        <select name="contactState" id="contactState">
          <option value="">Select Below</option>
        </select>
      </div>
      <div class="input-field">
        <label for="contactLGA">Contact Local Govt</label>
        <select name="contactLGA" id="contactLGA">
          <option value="">Select Below</option>
        </select>
      </div>
      <div class="input-field">
        <label for="contactWard">Contact Ward</label>
        <select name="contactWard" id="contactWard">
          <option value="">Select Below</option>
        </select>
      </div>
      <div class="input-field">
        <label for="pulling">Polling Unit Contact</label>
        <select name="pulling" id="pulling">
          <option value="">Select Below</option>
        </select>
      </div>
      <div class="input-field">
        <label for="level">Position Level</label>
        <select name="level" id="level">
          <option value="">Select Below</option>
          <option value="Polling Unit">Polling Unit</option>
          <option value="Ward">Ward</option>
          <option value="Local Govt">Local Govt</option>
          <option value="State">State</option>
          <option value="National">National</option>
        </select>
      </div>
    </div>
    <table>
      <thead>
        <tr>
          <td>Status</td>
          <td>Name</td>
          <td>Position</td>
          <td>Level</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <input type="checkbox" name="status" id="status">
          </td>
          <td>
            Hassan Sani
          </td>
          <td>
            Chairman 
          </td>
          <td>
            National
          </td>
        </tr>
      </tbody>
    </table>

    </div>
  </section>
</div>