<div class="main">
  <!-- <section class="check-member">
    <div class="member">
      <div class="group-field">
        <label for="member">Member Info</label>
        <input type="text" name="member" id="member" placeholder="Member ID Number">
        <ul>
          <li><label><input type="radio" name="memberBy" id="idnumber" value="PVC Number"> By PVC Number</label></li>
          <li><label><input type="radio" name="memberBy" id="phoneNumber" value="Phone Number"> By Phone Number</label></li>
          <li><label><input type="radio" name="memberBy" id="cardnumber" value="Card Number"> By Card Number</label></li>
        </ul>
        <button>Check Member</button>
      </div>
    </div>
    <div class="member">
      <div class="member-details">
        <figure>
          <img src="" alt="Member Name">
        </figure>
        <div class="details">
          <table>
            <tr><th>Name:</th><td>Hassan Check</td></tr>
            <tr><th>Local Govt:</th><td>Bida</td></tr>
            <tr><th>State:</th><td>Niger</td></tr>
            <tr><th>Status:</th><td>Paid</td></tr>
            <tr><th>Date Joined:</th><td>June 17, 2018</td></tr>
          </table>
        </div>
      </div>
    </div>
  </section> -->
  <form [formGroup]="contactCreate">
    <section>
    <!-- <div class="appoint">
      <h3>Appoint As</h3>
      <div class="input-field">
        <label for="position">Position</label>
        <select name="position" id="position">
          <option value="">Select Below</option>
          <option value="admin">Admin</option>
          <option value="Party Exco">Party Exco</option>
        </select>
        <small>If Party Exco please type the position name below</small>
        <input type="text" name="posName" id="posName">
      </div>
      <div class="input-field">
        <label for="level">Position Level</label>
        <select name="level" id="level">
          <option value="">Select Below</option>
          <option value="Polling Unit">Polling Unit</option>
          <option value="Ward">Ward</option>
          <option value="Local Govt">Local Govt</option>
          <option value="State">State</option>
          <option value="National">National</option>
        </select>
      </div>
      <div class="buttons">
        <button>Appoint</button>
      </div>
    </div> -->
      
    <div class="contact">
      <h4>Create Contact Address</h4>
      <div class="input-field">
        <label for="address">Address</label>
        <textarea formControlName="address" id="address" cols="30" rows="10"></textarea>
      </div>
      <div class="input-field">
        <label for="officeEmail">Email:</label>
        <input type="email" formControlName="officeEmail" id="officeEmail">
      </div>
      <div class="input-field">
        <label for="officeNo">Phone:</label>
        <input type="text" formControlName="officeNo" id="officeNo">
      </div>
    </div>
    <div class="locations">
      <div class="input-field">
        <label for="level">Position Level</label>
        <select formControlName="level" id="level">
          <option value="">Select Below</option>
          <option value="pullingUnit">Polling Unit</option>
          <option value="ward">Ward</option>
          <option value="lga">Local Govt</option>
          <option value="state">State</option>
          <option value="national">National</option>
        </select>
      </div>
      <div class="input-field">
        <label for="state">State</label>
        <select formControlName="state" id="state" (change)="setStateName($event)">
          <option value="">Select Below</option>
          <option *ngFor="let item of states" [value]="item">{{item}}</option>
        </select>
      </div>
      <div class="input-field">
        <label for="lga">Contact Local Govt</label>
        <select formControlName="lga" id="lga" (change)="setWardname($event, contactCreate.controls.stName.value)">
          <option value="">Select Below</option>
          <option *ngFor="let item of localGovt" [value]="item._id">{{item._id}}</option>
        </select>
      </div>
      <div class="input-field">
        <label for="ward">Contact Ward</label>
        <select formControlName="ward" id="ward" (change)="pollingUnits($event, contactCreate.controls.lgaName.value, contactCreate.controls.stName.value)">
          <option value="">Select Below</option>
          <option *ngFor="let item of wardList" [value]="item._id">{{item._id}}</option>
        </select>
      </div>
      <div class="buttons">
        <button (click)="sendContact()">Create Contact</button>
      </div>
      <small [innerText]="sent"></small>
    </div>
  </section>
</form>

  <section>
    <div class="list-excos">
      <h4>List of Admin Request</h4>
      <!-- <div class="details">
      <div class="input-field">
        <label for="level">Position Level</label>
        <select name="level" id="level">
          <option value="">Select Below</option>
          <option value="Polling Unit">Polling Unit</option>
          <option value="Ward">Ward</option>
          <option value="Local Govt">Local Govt</option>
          <option value="State">State</option>
          <option value="National">National</option>
        </select>
      </div>
      <div class="input-field">
        <label for="contactState">State</label>
        <select name="contactState" id="contactState">
          <option value="">Select Below</option>
        </select>
      </div>
      <div class="input-field">
        <label for="contactLGA">Contact Local Govt</label>
        <select name="contactLGA" id="contactLGA">
          <option value="">Select Below</option>
        </select>
      </div>
      <div class="input-field">
        <label for="contactWard">Contact Ward</label>
        <select name="contactWard" id="contactWard">
          <option value="">Select Below</option>
        </select>
      </div>
      <div class="input-field">
        <label for="pulling">Polling Unit Contact</label>
        <select name="pulling" id="pulling">
          <option value="">Select Below</option>
        </select>
      </div>
      <div class="input-field">
        <label for="level">Position Level</label>
        <select name="level" id="level">
          <option value="">Select Below</option>
          <option value="Polling Unit">Polling Unit</option>
          <option value="Ward">Ward</option>
          <option value="Local Govt">Local Govt</option>
          <option value="State">State</option>
          <option value="National">National</option>
        </select>
      </div>
    </div> -->
    <div class="admins">
      <div class="innerPage">
    <table>
      <thead>
        <tr>
          <td>Actions</td>
          <td>Name</td>
          <td>State</td>
          <td>Level</td>
        </tr>
      </thead>
      <tbody *ngIf="gettingList">
        <tr *ngFor="let item of inActiveAdmins" [style.display]="showNone">
          <td class="actions">
            <button (click)="acceptAdmin(item._id)">Add</button><button (click)="deleteAdmin(item._id)">Del</button>
          </td>
          <td>
            {{item.personalInfo.fullName}}
          </td>
          <td>
             {{(item.level === 'state' || item.level === 'national')? item.state+' State' : item?.lgaName+ ' Local Govt'}}
          </td>
          <td>
            {{item.level}}
          </td>
        </tr>
      </tbody>
    </table>

      </div>
    </div>
    </div>
  </section>
</div>