
<div  class="main-modal show">
    <div class="inner-side">
        <div class="top-area">
            <fa-icon [icon]="closeX" (click)="closeModal('app-payment')"></fa-icon>
        </div>
        <div class="logo-side">
            <img src="/assets/adplogo.jpg" alt="ADP Logo">
            <p> {{topMessage || 'Donate: Help build a better Future'}} </p>
        </div>
        <form [formGroup]="paymentForm">
            <div class="input-field" [ngClass]="{'is-invalid': paymentForm.controls.payName.touched && paymentForm.controls.payName.errors}">
                <label for="payName">Full Name* <span>Your name is required</span></label>
                <input type="text" [attr.readonly]="payName && payName.length" name="payName" [value]="payName || ''" formControlName="payName" id="payName" placeholder="Full Name" aria-placeholder="Full Name">
            </div>
            <div class="input-field">
                <label for="payPurpose">Purpose of Payment</label>
                <span>{{memberInst || ''}}</span>
                <span>
                    <input type="text" readonly [value]="purpose">
                </span>
            </div>
            <div class="input-field" [ngClass]="{'is-invalid': paymentForm.controls.payAmount.touched && paymentForm.controls.payAmount.errors}">
                <label for="payAmount">Amount Due <span>Please specify amount</span></label>
                <span>
                    <input type="text" name="payAmount" [attr.readonly]="viewAmount" [attr.required]="!viewAmount" id="payAmount" [value]="viewAmount || ''" formControlName="payAmount">
                </span>
            </div>
            <div class="paycontacts">
                <div class="input-field">
                    <label for="payPhone">Phone</label>
                    <input type="text" name="payPhone" [attr.readonly]="payPhone" [value]="payPhone || ''" formControlName="payPhone" id="payPhone" placeholder="Phone Number">
                </div>
                <div class="input-field" [ngClass]="{'is-invalid': paymentForm.controls.payEmail.touched && paymentForm.controls.payEmail.errors}">
                    <label for="payEmail">Email* <span *ngIf="paymentForm.controls.payEmail.errors">Invalid Email Format</span></label>
                    <input type="email" name="payEmail" [attr.readonly]="payEmail"  [value]="payEmail || ''" id="payEmail" formControlName="payEmail" placeholder="Email Address">
                </div>
            </div>
            <div class="input-field">
                <ng-container *ngIf="!paymentForm.valid; else getPaid">
                    <button disabled="disabled">Fill The Form</button>
                </ng-container>
                <ng-template #getPaid>
                <button
                angular4-paystack
                [key]="payStackKey"
                [email]="paymentForm.value.payEmail"
                [amount]="payAmount"
                [ref]="theRegRef"
                (close)="paymentCancel()"
                (callback)="paymentDone($event)">Pay Here</button>
                </ng-template>
            </div>
        </form>
    </div>
</div>