
<div  class="main-modal show">
    <div class="inner-side">
        <div class="top-area">
            <fa-icon [icon]="closeX" (click)="closeModal('app-payment')"></fa-icon>
        </div>
        <div class="logo-side">
            <img src="/assets/adplogo.jpg" alt="ADP Logo">
            <p> {{topMessage || 'Donate: Help build a better Future'}} </p>
        </div>
        <form [formGroup]="paymentForm">
            <div class="input-field">
                <label for="payName">Full Name</label>
                <input type="text" [attr.readonly]="payName" name="payName" [value]="payName || ''" formControlName="payName" id="payName" placeholder="Full Name" aria-placeholder="Full Name">
            </div>
            <div class="input-field">
                <label for="payPurpose">Purpose of Payment</label>
                <span>{{memberInst || ''}}</span>
                <span>
                    <input type="text" readonly [value]="purpose">
                </span>
            </div>
            <div class="input-field">
                <label for="payAmount">Amount Due</label>
                <span>
                    <input type="text" name="payAmount" [attr.readonly]="viewAmount" id="payAmount" [value]="viewAmount || ''" formControlName="payAmount">
                </span>
            </div>
            <div class="paycontacts">
                <div class="input-field">
                    <label for="payPhone">Phone</label>
                    <input type="text" name="payPhone" [attr.readonly]="payPhone" [value]="payPhone || ''" formControlName="payPhone" id="payPhone" placeholder="Phone Number">
                </div>
                <div class="input-field">
                    <label for="payEmail">Email</label>
                    <input type="email" name="payEmail"  [value]="payEmail" id="payEmail" formControlName="payEmail" placeholder="Email Address">
                </div>
            </div>
            <div class="input-field">
                <button
                #thisButton
                angular4-paystack
                [key]="payStackKey"
                [email]="payEmail"
                [amount]="payAmount"
                [ref]="theRegRef"
                (close)="paymentCancel()"
                (callback)="paymentDone($event)">Pay Here</button>
            </div>
        </form>
    </div>
</div>