@import '../../../../sass/variables';
@import '../../../../sass/mixins';
.show{
    display: none;
}
.main-modal{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 15;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .inner-side{
        background-color: #fff;
        width: 90%;
        margin: 0 auto;
        height: 90%;
        left: 0;
        top: 0;
        overflow: scroll;
        @include mQ('1025px') {
            overflow: hidden;
            width: 582px;
            height: 530px;
            top: 129px;
            left: 289px;
        }
        .top-area{
            width: 100%;
            height: 30px;
            position: relative;
            fa-icon{
                position: absolute;
                right: 0;
                top: 0;
                background-color: #E60000;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0 5px;
                color: #fff;
                width: 25px;
                height: 102%;
                box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
                &:hover{
                    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
                    background-color: darken(#E60000, 1%);
                }
                &:active{
                    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
                    background-color: darken(#E60000, 1%);
                    transform: translateY(21)
                }
            }
        }
        .logo-side{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            margin-top: -20px;
            img{
                width: 80px;
                height: 80px;
                border-radius: 50%;
            }
            p{
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: normal;
                line-height: 35px;
                font-size: 13px;
            }
        }
    }
    form{
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        @include mQ('1025px'){
            height: calc(100% - 160px);
        }
        .paycontacts{
            width: 80%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .input-field{
                width: 40%;
            }
        }
        .input-field{
            width: 80%;
            margin: 5px auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            span{
                width: 100%;
            }
            label{
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: normal;
                line-height: 24px;
                font-size: 14px;
                color: #000000;
                margin-bottom: 2px;
            }
            input, select {
                width: 100%;
                height: 35px;
                background: rgba(196, 196, 196, 0.6);
                border-radius: 4px 4px 0px 0px;
                border: 0;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                line-height: 24px;
                font-size: 12px;
                color: #000;
                padding: 10px;
                box-sizing: border-box;
                box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
                &:disabled{
                    color: #000;
                }
            }
        }
        button{
            width: 255px;
            height: 35px;
            background: #030D42;
            color: white;
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: bold;
            line-height: 24px;
            font-size: 14px;
            text-transform: uppercase;
            align-self: flex-end;
            margin-top: 12px;
            border: 0;
            box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.25);
            &:hover{
                box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.35);
            }
            &:active{
                box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.4);
            }
        }
    }
}