<div class="modal-container" (click)="closeModal($event)" [ngClass]="{'show': !registered}">
  <div class="inner-modal">
    <h4>Thank You for registering. Pay Here</h4>
    <div class="donates">
      <label for="regfullname">Full Name</label>
      <input type="text" name="regfullname" readonly id="regfullname" [value]="registered ? member.fullName : null">
      <label for="regemail">Your Email</label>
      <input type="email" name="regemail" id="regemail" readonly #regEmail [value]="registered ? member.email : null">
      <label for="regamount">Amout</label>
      <input type="text" #amountDT [readonly]="theState" name="regamount" id="regamount" value="750">
    </div>
    <div class="buttons">
        <button
        angular4-paystack
        [key]="'pk_test_d718965961de7b1d678c7a70fbcfaef072800df9'"
        [email]="registered ? member.email : 'contact@adp.ng'"
        [amount]="75000"
        [ref]="theRegRef"
        (close)="paymentCancel()"
        (callback)="paymentDone($event)">Pay Here</button>
        <button id="close" (click)="closeModal($event)">Close</button>
    </div>
    <img src="assets/paystack.webp" alt="Pay With Paystack" width="100%" height="80px">
  </div>
</div>


<div class="main" role="main">
    <h2>Registration Page</h2>
    <form action="" [formGroup]="formReg" class="register" (ngSubmit)="onSubmit()">
        <section>
            <div class="intro">
                <h4>Please fill the form</h4>
                <ul>
                    <li>Please note that Full Name must contain at least First and Last Name preferably, a third name may be added.</li>
                    <li>Date of Birth must be at least 18 years old at the time of registration</li>
                    <li>Please provide at least a phone number and/or email address</li>
                </ul>
            </div>
            <div class="passport">
                <figure id="preview"></figure>
                <!-- <input type="file" aria-label="Passport" name="passport" id="passport"> -->
            </div>
        </section>
        <section>
            <div class="input-field">
                <label for="fullName">Full Name </label>
                <input type="text" aria-label="Full Name" name="fullName" [ngClass]="{ 'is-invalid': submitted && f.fullName.errors }" formControlName="fullName" id="fullName" placeholder="Hassan Uche Oluwatoyin">
            </div>
            <div class="se">
                <div class="input-field">
                    <label for="password">Passowrd</label>
                    <input type="password" name="password" aria-label="Passowrd" id="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" formControlName="password" placeholder="Password" aria-placeholder="Password">
                </div>
                <div class="input-field">
                    <label for="vin">VIN</label>
                    <input type="text" name="vin" aria-label="VIN number" id="vin" formControlName="pvc" placeholder="VIN 3075050" aria-placeholder="VIN 3075050">
                </div>
            </div>
        </section>
        <section class="contacts">
            <div>
                <div class="input-field">
                    <label for="phoneNumber">Phone Number</label>
                    <input type="text" name="phoneNumber" id="phoneNumber" aria-label="Phone Number" formControlName="phoneNumber"  [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }" placeholder="+2348021345678">
                </div>
                <div class="input-field">
                    <label for="email">Email Address</label>
                    <input type="email" name="email" id="email" aria-label="Email Address" formControlName="email" placeholder="contact@adp.ng">
                </div>
            </div>
            <div>
                <div class="input-field">
                    <label for="gender"  [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">Gender</label>
                    <select name="gender" formControlName="gender" id="gender" aria-label="Gender">
                        <option value="" aria-selected="true">Select Gender</option>
                        <option value="Female">Female</option>
                        <option value="Male">Male</option>
                    </select>
                </div>
                <div class="input-field">
                    <label for="dateOfBirth">Date of Birth</label>
                    <input type="date" [ngClass]="{ 'is-invalid': submitted && f.dateofBirth.errors }" formControlName="dateofBirth" name="dateOfBirth" id="dateOfBirth" aria-label="Date of Birth">
                </div>
            </div>
        </section>
        <section class="voting-unit">
            <div class="input-field">
                <label for="state">State</label>
                <select name="state"  id="state" formControlName="stateName" (change)="setStateName($event)">
                    <option value="">Select State</option>
                    <option *ngFor="let item of state" [value]="item">{{item}}</option>
                </select>
            </div>
            <div class="input-field">
                <label for="lga">Local Government</label>
                <select name="lga" formControlName="lgaName" id="lga" (change)="setWardname($event, f.stateName.value)">
                    
                    <option value="">Select Local Govt</option>
                    <option *ngFor="let item of localGovt" [value]="item._id">{{item._id}}</option>
                </select>
            </div>
            <div class="input-field">
                <label for="ward">Ward</label>
                <select name="ward" formControlName="wardName" id="ward" (change)="pollingUnits($event, f.lgaName.value, f.stateName.value)">
                    <option value="">Select Ward</option>
                    <option *ngFor="let item of wardList" [value]="item._id">{{item._id}}</option>
                </select>
            </div>
            <div class="input-field">
                <label for="polling">Voting Unit</label>
                <select name="polling" formControlName="pollingUnit" id="polling" aria-label="Voting Unit">
                    <option value="">Select Voting Unit</option>
                    <option *ngFor="let item of pollingList" [value]="item._id">{{item._id}}</option>
                </select>
            </div>
        </section>
        <section>
            <div class="input-field">
                <label for="address">Residential Address</label>
                <textarea formControlName="residenceAdd" name="address" id="address" cols="30" rows="2" aria-label="Address" placeholder="Full Address"></textarea>
            </div>
        </section>
        <section class="submit">
            <button type="submit">Register ></button><button type="reset">Cancel</button>
        </section>
    </form>
</div>