@import '../../sass/_variables';
@import '../../sass/_mixins';
.about{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    @include mQ('1025px'){
        flex-direction: row;
        width: 95%;
        margin: 25px auto;
        height: 500px;
    }
    input{
        width: 150px;
        margin-top: 20px;
        padding: 10px 0;
        border: 1px #fff solid;
        color: #fff;
        border-radius: 22px;
        background-color: transparent;
        background: #7db9e8; /* Old browsers */
        // background: -moz-linear-gradient(left, #7db9e8 1%, #1e5799 97%); /* FF3.6-15 */
        // background: -webkit-linear-gradient(left, #7db9e8 1%,#1e5799 97%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #7db9e8 1%,#1e5799 97%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=1 ); /* IE6-9 */
        @include mQ('1025px'){
            width: 200px;
        }
    }
    .country{
        width: 360px;
        padding: 24px;
        // text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        img{
            width: 80%;
            margin: 20px auto;
            box-sizing: border-box;
        }
    }
}
