@import '../../../../sass/variables';
@import '../../../../sass/_mixins';
.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    @include mQ('1025px'){
        width: 95%;
        margin: 0 auto;
    }
    .contact-details{
        display: flex;
        flex-flow: row wrap;
        background-color: transparentize(#fff, 0.3);
        justify-content: space-around;
        align-items: center;
        position: absolute;
        top: 0;
        width: 100%;
        height: 99%;
        overflow: hidden;
        padding-top: 12px;
        @include mQ('1025px'){
            left: 24px;
            top: 75px;
            width: 361px;
            background-color:#fff;
            height: 774px;
            flex-direction: column;
            justify-content: space-around;
            padding: 20px;
            box-sizing: border-box;
            box-shadow: 0px 2px 5px transparentize(#ccc, 0.4);
        }
        div{
            margin-left: 10px;
            @include mQ('1025px'){
                margin-left: 0;
            }
        }
        h2{
            font-size: 24px;
            font-weight: bold;
            font-style: normal;
            width: 128px;
            margin-bottom: 0;
            margin-top: 15px;
            @include mQ('1025px'){
                margin-bottom: 15px;
                margin-top: 0;
                line-height: 24px;
                font-size: 30px;
                width: 178px;
            }
        }
        p, address, span{
            width: 206px;
            height: auto;
            font-weight: 300;
            font-style: normal;
            font-size: 14px;
            @include mQ('1025px'){
                line-height: 28px;
                height: 86px;
                width: 286px;
            }
        }
        .contacts{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 124px;
            width: 100%;
        }
        .socialMedia{
            display: none;
            @include mQ('1025px'){
                list-style-type: none;
                display: flex;
                width: 100%;
                flex-direction: row;
                // background-color: #fff;
                justify-content: space-evenly;
                box-sizing: border-box;
                li{
                    margin: 10px 0;
                    font-size: 15px;
                    @include mQ('1025px'){
                        font-size: 25px;
                    }
                }
                @include mQ('1025px'){
                    width: 300px;
                }    
            }
        }
    }
    .office{
        position: relative;
        width: 100%;
        height: 400px;
        background: url('/assets/adpfro.jpg') no-repeat;
        background-size: 100% 100%;
    }
    .contact-form{
        width: 97%;
        margin: 0 auto;
        display: flex;
        align-content: center;
        @include mQ('1025px'){
            position: static;
            min-height: 567px;
        }
        form{
            margin-top: 52px;
            display: flex;
            width: 90%;
            margin-right: auto;
            margin-left: auto;
            flex-direction: column;
            position: relative;
            @include mQ('1025px'){
                width: 743px;
                position: absolute;
                right: 0;    
            }
            h3{
                width: 318px;
                line-height: 24px;
                font-style: normal;
                font-size: 30px;
                font-family: 'Roboto', sans-serif;
                font-weight: bold;
                height: 24px;
                color: #373535;
                margin-bottom: 41px;
            }
            .group-input{
                width: 100%;
                display: flex;
                flex-direction: column;
                .input-field{
                    width: 100%;
                    height: auto !important;
                    margin-bottom: 20px;
                }
                @include mQ('1025px'){
                    flex-direction: row;
                    justify-content: space-between;
                    margin-bottom: 36px;
                    height: 82px;
                }
            }
            .input-field{
                display: flex;
                flex-direction: column;
                @include mQ('1025px'){
                    width: 347px !important;
                    min-height: 86px;
                }
                label{
                    font-size: 20px;
                    line-height: 24px;
                    font-weight: 700;
                    font-size: 24px;
                    color: #000;
                    font-style: normal;
                    margin-bottom: 12px;
                }
                input{
                    height: 35px;
                    background: #c4c4c4;
                    border: 0;
                    padding: 0 12px;
                    box-sizing: border-box;
                }
                textarea{
                    background: #c4c4c4;
                    border: 0;
                    width: 80%;
                    margin: 0 auto;
                    height: 174px;
                    padding: 12px;
                    box-sizing: border-box;
                    @include mQ('1025px'){
                        width: 744px;
                    }
                }
            }
            button{
                background: linear-gradient(90deg, #4BA0FD 0%, #030D42 186.42%);
                box-shadow: 1px 2px 2px #ccc;
                border-radius: 30px;
                width: 180px;
                height: 42px;
                margin-top: 43.24px;
                border: 0;
                color: #ffffff;
                font-variant: small-caps;
                align-self: flex-end;
                &:hover{
                    background: linear-gradient(90deg, #428bd8 0%, #0c1b68 186.42%);
                    box-shadow: 1px 2px 5px #ccc;
                }
                &:active{
                    background: linear-gradient(90deg, #428bd8 0%, #0c1b68 186.42%);
                    box-shadow: 1px 4px 5px #ccc;
                    transform: translateY(2px);
                }
            }
        }
    }
    .map{
        width: 98%;
        margin: 20px auto;
        h3{
            margin-bottom: 20px;
            font-family: 'Roboto', sans-serif;
            line-height: 24px;
            font-size: 36px;
            font-weight: bold;
            font-style: normal;
            color: #373535;
        }
        agm-map{
            height: 622px;
            margin: 20px auto !important;
        }
    }
}

.show{
    display: none;
}

.modal-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    background-color: transparentize($color: #000000, $amount: 0.3);
    .inner-modal{
        background: #fff;
        margin: auto;
        height: 220px;
        width: 80%;
        position: sticky;
        display: flex;
        flex-direction: column;
        padding: 12px;
        justify-content: center;
        z-index: 12;
        top: 60px;
        border-radius: 7px;
        @include mQ('1025px'){
            width: 40%;
        }
        h4{
            width: 70%;
            margin: 0 auto;
            text-align: center;
            font-weight: bold;
        }
        button{
            width: 100px;
            padding: 10px 0;
            border: 1px #fff solid;
            color: #fff;
            margin: 12px auto;
            border-radius: 22px;
            background-color: #cccccc !important;
            @include mQ('1025px'){
                width: 200px;
            }
        }
        #close{
            background-color: #ca1111 !important;
            outline: none;
            box-shadow: 0px 0px 2px #000;
            border: 0 solid #000;
            &:hover{
                box-shadow: 0px 0px 3px transparentize(#000, 0.6);
                background-color: #d44e4e !important;
            }
            &:active{
                box-shadow: 0px 0px 3px transparentize(#000, 0.6);
                background-color: #d44e4e !important;
                transform: translateY(2px)
            }
        }
    }
}