<div class="main">
    <div class="office">
        <div class="contact-details">
            <div>
                <h2>Contact Us</h2>
                <p>
                    We are here to answer any questions you might have with regards to our party,
                    manifesto or elections. Use the contact form below to send us a message.
                </p>
            </div>
            <div>
                <h2>Address:</h2>
                <address>
                    Plot 3379A/3379B, No. 20 Mungo Park Close, <br>
                    Off Jesse Jackson/Gimbya Street, <br>
                    Asokoro/Area 11
                    Abuja, Nigeria.
                </address>
            </div>
            <div class="contacts">
                <span><strong>Mobile:</strong> +234 906 000 0536</span>
                <span><strong>WhatsApp:</strong> +234 906 182 5005</span>
                <span><strong>Email:</strong>contact@adp.ng</span>
            </div>
            <div>
            <ul class="socialMedia">
              <li><a href="https://twitter.com/adpng" target="_blank"><fa-icon [icon]="twitter"></fa-icon></a></li>
              <li><a href="https://fb.me/adpnigeria" target="_blank"><fa-icon [icon]="facebook"></fa-icon></a></li>
              <li><a href="https://instagram.com/adpnigeria" target="_blank"><fa-icon [icon]="instagram"></fa-icon></a></li>
              <li><a href="https://medium.com/action-democratic-party" target="_blank"><fa-icon [icon]="medium"></fa-icon></a></li>
              <li><a href="https://www.youtube.com/channel/UCZeeD86RO6j_ZsUzjwNezgw" target="_blank"><fa-icon [icon]="youtube"></fa-icon></a></li>
            </ul>
            </div>
        </div>
    </div>
    <div class="contact-form">
        <form [formGroup]="contactForm" (ngSubmit)="sendMessage()">
            <h3>Send Us a Message</h3>
            <div class="group-input">
                <div class="input-field">
                    <label for="name">Name</label>
                    <input type="text" formControlName="name" name="name" id="name">
                </div>
                <div class="input-field">
                    <label for="contactEmail">Email</label>
                    <input type="email" name="email" id="contactEmail" formControlName="email">
                </div>
            </div>
            <div class="input-field">
                <label for="contactMessage">Message</label>
                <textarea name="contactMessage" id="contactMessage" cols="30" rows="10" formControlName="message"></textarea>
            </div>
            <button [disabled]="!contactForm.valid" type="submit">send message ></button>
        </form>
    </div>

    <div class="other-sec">
        <h3>Our State Secretariats</h3>
        <ng-container *ngIf="contacts; else noContacts">
            <ul>
                <li *ngFor="let item of contacts">
                    <div class="innerState">
                        <h3 [innerText]="item.state | uppercase"></h3>
                        <address>
                            {{item.address || ''}}, <br>{{item.ward || ''}}, <br>{{item.lga || ''}}
                        </address>
                        <span [innerText]="item.phone || ''"></span>
                        <span [innerText]="item.email || ''"></span>
                    </div>
                </li>
            </ul>
       </ng-container>
        <ng-template #noContacts>
            <p style="width: 100%; text-align: center;">Please contact the Head Office for information about our other location</p>
        </ng-template>
    </div>
    <div class="map">
        <h3>Use the Map to visit our Headquarters</h3>
        <agm-map [zoom]="16" [latitude]="lat" [longitude]="lng">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
    </div>
</div>

<div class="modal-container" (click)="closeModal($event)" [ngClass]="{'show': !sentMessage}" #modalSent>
  <div class="inner-modal">
    <h4>Thank You for the message.</h4>
    <button id="close" (click)="closeModal($event)">Close</button>
  </div>
</div>
