<div class="main">
    <app-slider></app-slider>
    <div class="about">
        <div class="contents">
            <div class="aboutContent">
                <img src="/assets/nigeria.jpg" alt="The Nigeria Map">
                <div>
                    <h3>Join ADP Today</h3>
                    <p>
                            The One Destiny Family of more than 200,000+ Nigerians ready to build a better Nigeria what are you waiting for Join the Family.
                    </p>

                    <p>
                            Nigeria must rise again and live up to the true meaning of its creed. As the giant of Africa Nigeria must move beyond the current political quagmire of today.
                    </p>
                </div>
            </div>
            <div class="mission">
                <div class="innerContent">
                    <span><fa-icon [icon]="rocket"></fa-icon></span>
                    <h4>Mission</h4>
                    <p class="description">To provide Responsive leadership that is transparent and accountable to the people.</p>
                </div>
                <div class="innerContent">
                    <span><fa-icon [icon]="plane"></fa-icon></span>
                    <h4>Vision</h4>
                    <p class="description">A Secure, Stable and Egalitarian Nigeria where Democracy and Rule of Law Reign.</p>
                </div>
            </div>
        </div>
        <div class="news">
            <h4>Latest News</h4>
            <div id="newsContent">
                <figure>
                    <img src="/assets/inec.jpg" alt="News Caption" width="100px">
                    <figcaption>
                        <strong>Election</strong>
                        <p>
                            Increase facilities for voters registration in Oyo State, ADP tells INEC
                        </p>
                        <span><em>Aug 15th, 2018</em></span>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>

    <div class="theParty">
        <div class="about">
            <h4>About Action Democratic Party</h4>
            <div class="theContent">
                <img src="/assets/office.jpg" alt="">
                <p>
                    <strong>THE ACTION DEMOCRATIC PARTY (ADP)</strong>
                     is a registered political party in Nigeria. The party was formed and established in 2017 to deal with the lapses that have over the years been complained about by Nigerians because the tenets of true democracy have been lost thereby giving some select few a godlike image where political parties are being dictated upon by the few and powerful.
                </p>
            </div>
        </div>
        <div class="login">
            <div class="loginSection">
                <figure>
                    <img src="/assets/adplogo.jpg" alt="ADP Logo">
                    <figcaption>Member Corner</figcaption>
                </figure>
                <div class="form">
                    <form action="">
                        <input type="text" placeholder="Phone Number or Member Card No">
                        <input type="password" placeholder="Password">
                        <input type="checkbox">
                        <button type="submit">Login</button>
                        <p>
                            <span>Don't have an account? </span>
                            <span><a href="">Register</a></span>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>