@import '../../sass/_variables';
@import '../../sass/_mixins';
.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    // overflow: hidden;
    position: relative;
    margin: 20px 0;
}

.about{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    @include mQ('1025px'){
        flex-direction: row;
        width: 95%;
        margin: 25px auto;
        height: 500px;
    }
    .contents{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        @include mQ('1025px'){
            flex-direction: row;
            width: 70%;
            margin-top: 0;
        }
        .aboutContent{
            display: flex;
            flex-direction: column;
            width: 90%;
            margin: 0 auto;
            box-shadow: 0px 0px 5px 1px #ccc;
            padding: 10px;
            border-radius: 8px;
            box-sizing: border-box;
            font-family: $fontForSlide;
            img{
                width: 80%;
                margin: 0 auto;
                @include mQ('1025px'){
                    width: 250px;
                    height: 230px;
                }
            }
            @include mQ('1025px'){
                flex-direction: row-reverse;
                border-radius: 0;
                justify-content: space-around;
                align-items: center;
                height: 455px;
            }
            div{
                margin-top: 10px;
                padding: 18px;
                h3{
                    margin: 15px 0;
                }
                p{
                    margin: 15px 0;
                }
                @include mQ('1025px'){
                    width: 50%;
                }
            }
        }
        .mission{
            text-align: center;
            display: flex;
            margin-top: 0px;
            flex-direction: column;
            @include mQ('1025px'){
                width: 40%;
            }
        }
    }

}
.theParty{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 97%;
    margin: 20px auto;
    font-family: $fontForSlide;
    @include mQ('1025px'){
        flex-direction: row;
        width: 95%;
        margin: 20px auto;
        height: 600px;
        padding: 15px;
        box-sizing: border-box;
    }
    .about{
        display: flex;
        flex-direction: column;
        padding: 10px;
        box-sizing: border-box;
        h4{
            margin-bottom: 20px;
            font-size: 15px;
            // font-variant: small-caps;
            font-weight: 900;
            @include mQ('1025px'){
                font-size: 25px;
            }
        }
        .theContent{
            display: flex;
            flex-direction: column;
            @include mQ('1025px'){
                flex-direction: row;
                padding: 0 12px;
            }
            img{
                width: 300px;
                margin: 0 auto;
                @include mQ('1025px'){
                    width: 400px;
                    height: 350px;
                }
            }
            p{
                margin: 12px 0;
                padding: 12px;
                box-sizing: border-box;
                line-height: 20px;
                @include mQ('1025px'){
                    margin: 1px;
                }
            }
            .inner{
                @include mQ('1025px'){
                    margin: 2px;
                    width: 450px;
                    font-size: 18px;
                }
            }
            input{
                width: 100px;
                padding: 10px 0;
                border: 1px #fff solid;
                color: #fff;
                border-radius: 22px;
                background-color: transparent;
                background: #7db9e8; /* Old browsers */
                // background: -moz-linear-gradient(left, #7db9e8 1%, #1e5799 97%); /* FF3.6-15 */
                // background: -webkit-linear-gradient(left, #7db9e8 1%,#1e5799 97%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to right, #7db9e8 1%,#1e5799 97%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=1 ); /* IE6-9 */
                @include mQ('1025px'){
                    width: 200px;
                }
            }
        }
    }
    .login{
        display: none;
        @include mQ('1025px'){
            display: flex;
            width: 350px;
            flex-direction: column;
            background-color: #030D42;
            box-shadow: 0px 0px 5px 1px #ccc;
            height: 450px;
            border-radius: 12px;
            .loginSection{
                display: flex;
                flex-direction: column;
                figure{
                    width: 100%;
                    margin: 0;
                    display: flex;
                    flex-direction: column;
                    img{
                        width: 100%;
                    }
                    figcaption{
                        text-align: center;
                        font-weight: bold;
                        padding: 5px 0;
                        background-color: #fff;
                    }
                }
                form{
                    display: flex;
                    flex-direction: column;
                    padding: 12px;
                    box-sizing: border-box;
                    // box-shadow: 0px 0px 5px 1px #ccc;
                    justify-content: space-evenly;
                    input[type=text], input[type=password]{
                        background-color: #030d42;
                        margin: 10px 0;
                        height: 30px;
                        padding: 12px 20px;
                        box-sizing: border-box;
                        border-radius: 20px;
                        border: 1px white solid;
                        color: white;
                    }
                    .keep{
                        margin: 12px;
                        color: #fff;
                    }

                    button{
                        width: 110px;
                        margin: 10px;
                        height: 30px;
                        border: 0px;
                        border-radius: 12px;
                        background-color: #fff;
                        box-shadow: 0 0 -5px 5px #ccc;
                    }
                    p{
                        color: #ccc;
                        font-size: 12px;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        margin-top: 15px;
                        a{
                            color: #ccc;
                        }
                    }
                }
            }
        }
    }
}