@import '../../sass/_variables';
@import '../../sass/_mixins';

.about{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    @include mQ('1025px'){
        flex-direction: row;
        width: 95%;
        margin: 25px auto;
        height: 500px;
    }
    .contents{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        @include mQ('1025px'){
            flex-direction: row;
            width: 70%;
            margin-top: 0;
        }
        .aboutContent{
            display: flex;
            flex-direction: column;
            width: 90%;
            margin: 0 auto;
            box-shadow: 0px 0px 5px 1px #ccc;
            padding: 10px;
            border-radius: 8px;
            box-sizing: border-box;
            font-family: $fontForSlide;
            img{
                width: 80%;
                margin: 0 auto;
                @include mQ('1025px'){
                    width: 250px;
                    height: 230px;
                }
            }
            @include mQ('1025px'){
                flex-direction: row-reverse;
                border-radius: 0;
                justify-content: space-around;
                align-items: center;
                height: 455px;
            }
            div{
                margin-top: 10px;
                padding: 18px;
                h3{
                    margin: 15px 0;
                }
                p{
                    margin: 15px 0;
                }
                @include mQ('1025px'){
                    width: 50%;
                }
            }
        }
        .mission{
            text-align: center;
            display: flex;
            margin-top: 0px;
            flex-direction: column;
            @include mQ('1025px'){
                width: 40%;
            }
        }
    }

}
.theParty{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 97%;
    margin: 20px auto;
    font-family: $fontForSlide;
    @include mQ('1025px'){
        flex-direction: row;
        width: 95%;
        margin: 0px auto;
        height: 600px;
        padding: 15px;
        box-sizing: border-box;
    }
}
.theChairman{
    display: flex;
    flex-direction: column;
    width: 97%;
    margin: 0 auto;
    @include mQ('1025px'){
        flex-direction: row;
    }
    .theContent{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        @include mQ('1025px'){
            margin-right: 20px;
            flex-direction: row;
            img{
                margin-left: 100px;
            }
        }
        .contents{
            padding: 0 20px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            font-family: $fontForSlide;
            @include mQ('1025px'){
                width: 450px;
            }
            h4{
                margin: 10px 0;
                letter-spacing: 5px;
                @include mQ('1025px'){
                    font-size: 25px;
                }
            }
            p{
                margin: 10px 0;
                line-height: 30px;
            }
            input{
                width: 100px;
                padding: 10px 0;
                border: 1px #fff solid;
                color: #fff;
                border-radius: 22px;
                background-color: transparent;
                background: #7db9e8; /* Old browsers */
                // background: -moz-linear-gradient(left, #7db9e8 1%, #1e5799 97%); /* FF3.6-15 */
                // background: -webkit-linear-gradient(left, #7db9e8 1%,#1e5799 97%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to right, #7db9e8 1%,#1e5799 97%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=1 ); /* IE6-9 */
                @include mQ('1025px'){
                    width: 200px;
                    margin: 15px 0;
                }
            }
        }
    }
}