<div class="login">
    <div class="loginSection">
        <figure>
            <img src="assets/adplogo.jpg" alt="ADP Logo">
            <figcaption>Member Corner</figcaption>
        </figure>
        <form action="">
            <input type="text" placeholder="Phone Number or Member Card No">
            <input type="password" placeholder="Password">
            <span class="keep"><input type="checkbox"> Keep me logged.</span>
            <button type="submit">Login</button>
            <p>
                <span>Don't have an account? </span>
                <span><a href="">Register</a></span>
            </p>
        </form>
    </div>
</div>
