<div class="login">
    <div class="loginSection">
        <figure>
            <img src="assets/adplogo.jpg" alt="ADP Logo">
            <figcaption>Member Corner</figcaption>
        </figure>
        <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
            <input type="text" formControlName="loginPhone" placeholder="Phone Number">
            <input type="password" placeholder="Password" formControlName="loginPassword">
            <span class="keep"><input type="checkbox"> Keep me logged.</span>
            <button (click)="loginUser()">Login</button>
            <p>
                <span>Don't have an account? </span>
                <span><a [routerLink]="['/register']">Register</a></span>
            </p>
        </form>
    </div>
</div>
