@import '../../sass/_variables';
@import '../../sass/_mixins';
.login{
    display: none;
    @include mQ('1025px'){
        display: flex;
        width: 320px !important;
        margin-left: 25px;
        flex-direction: column;
        background-color: #030D42;
        box-shadow: 0px 0px 5px 1px #ccc;
        height: 450px;
        border-radius: 12px;
        box-sizing: border-box;
        .loginSection{
            display: flex;
            flex-direction: column;
            figure{
                width: 100%;
                margin: 0;
                display: flex;
                flex-direction: column;
                img{
                    width: 100%;
                }
                figcaption{
                    text-align: center;
                    font-weight: bold;
                    padding: 5px 0;
                    background-color: #fff;
                }
            }
            form{
                display: flex;
                flex-direction: column;
                padding: 12px;
                box-sizing: border-box;
                // box-shadow: 0px 0px 5px 1px #ccc;
                justify-content: space-evenly;
                input[type=text], input[type=password]{
                    background-color: #030d42;
                    margin: 10px 0;
                    height: 30px;
                    padding: 12px 20px;
                    box-sizing: border-box;
                    border-radius: 20px;
                    border: 1px white solid;
                    color: white;
                }
                .keep{
                    margin: 12px;
                    color: #fff;
                }

                button{
                    width: 110px;
                    margin: 10px;
                    height: 30px;
                    border: 0px;
                    border-radius: 12px;
                    background-color: #fff;
                    box-shadow: 0 0 -5px 5px #ccc;
                }
                p{
                    color: #ccc;
                    font-size: 12px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin-top: 15px;
                    a{
                        color: #ccc;
                    }
                }
            }
        }
    }
}
