@import '../../sass/_variables';
@import '../../sass/_mixins';
.footer{
    display: flex;
    width: 100vw;
    flex-direction: column;
    justify-content: stretch;
    div{
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        font-family: $fontSet;
        h4{
            font-size: 22px;
            margin-bottom: 5px;
        }
        span{
            margin: 5px 0;
        }
    }
}
.copy{
    background-color: $copyColor;
    display: flex;
    flex-direction: column;
    color: rgb(241, 231, 231);
    span{
        text-align: center;
        @include mQ('1025px'){
            width: 50%;
            padding: 15px;
        }
    }
    ul{
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: row;
        width: 90%;
        margin: 15px auto;
        justify-content: space-evenly;
        li{
            margin: 0;
            padding: 0;
        }
        @include mQ('1025px'){
            width: 30%;
        }
    }

    @include mQ('1025px'){
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
    }
}
.address{
    background-color: $topFooter;
    display: flex;
    flex-direction: column;
    div{
        margin: 12px auto;
        display: flex;
        flex-direction: column;
        @include mQ('1025px'){
            width: 30%;
        }
    }
    @include mQ('1025px'){
        flex-direction: row;
        width: 80%;
        margin: 0 auto;
        justify-content: space-around;
    }
}