<div class="footer">
  <div class="address">
    <div class="divider">
      <h4>ADP National Secretariat</h4>
      <address>
        No 20 Plot 3379A/3379B,<br/>
        Mungo Park Close, <br />
        Off Jesse Jackson/Gimbya Street, <br />
        Asokoro/Garki Area 11. <br />
        FCT, Abuja. Nigeria
      </address>
    </div>
    <div class="divider">
      <h4>Direct Contact</h4>
      <span><fa-icon [icon]="phone"></fa-icon>&nbsp;&nbsp;&nbsp;&nbsp; +234 906 000 0536</span>
      <span><fa-icon [icon]="whatsapp"></fa-icon>&nbsp;&nbsp;&nbsp;&nbsp; +234 906 182 5005</span>
      <span><fa-icon [icon]="telegram"></fa-icon>&nbsp;&nbsp;&nbsp;&nbsp; +234 906 182 5005</span>
      <span><fa-icon [icon]="envelope"></fa-icon>&nbsp;&nbsp;&nbsp;&nbsp; contact@adp.ng</span>
    </div>
  </div>
  <div class="copy">
    <span>Copyright &copy; 2018 Action Democratic Party. All rights reserved.</span>
    <ul>
      <li>FAQS</li>
      <li>Quick links</li>
      <li>Privacy Policy</li>
    </ul>
  </div>
</div>