@import '../../sass/_variables';
@import '../../sass/_mixins';

.innerContent{
    width: 90%;
    margin: 0 auto;
    box-shadow: 0px 0px 5px 2px #ccc;
    width: 240px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 8px;
    box-sizing: border-box;
    font-family: $fontForSlide;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    &:nth-child(1){
        margin-top: 15px;
        @include mQ('1025px'){
            margin-top: 0px;
        }
    }
    @include mQ('1025px'){
        border-radius: 0;
        height: 220px;
    }
    span{
        color: white;
        background: #7db9e8; /* Old browsers */
        // background: -moz-linear-gradient(left, #7db9e8 1%, #1e5799 97%); /* FF3.6-15 */
        // background: -webkit-linear-gradient(left, #7db9e8 1%,#1e5799 97%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #4A9FFC 1%,#2858A2 97%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4A9FFC', endColorstr='#2858A2',GradientType=1 ); /* IE6-9 */
        font-size: 45px;
        padding: 30px 3px;
        box-shadow: 0px 2px 5px 2px #ccc;
        border-radius: 50%;
        border: 1px white solid;
        box-sizing: border-box;
        margin: 20px;
        @include mQ('1025px'){
            font-size: 35px;
            padding: 23px 2px;
            margin: 2px;
        }
        fa-icon{
            border: 1px solid white;
            border-radius: 50%;
            padding: 27px 27px;
            @include mQ('1025px'){
                padding: 18px;
            }
        }
    }
    h4{
        margin: 12px;
        font-size: 30px;
        font-weight: bold;
        @include mQ('1025px'){
            margin: 2px;
            font-size: 25px;
        }
    }
    .description{
        font-size: 15px;
    }
}