@import '../../../../sass/_variables';
@import '../../../../sass/_mixins';
.side-menu{
    width: 246px;
    background-color: #30363d;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    color: #fff;
    h4{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        text-align: center;
    }
}
section{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}
.profile{
    width: 80%;
    margin: 12px auto;
}
.profile_img{
    width: 112.48px;
    height: 112.48px;
    margin: 12px auto;
    border-radius: 50%;
    box-shadow: 0px 5px 5px #000;
    border: 1px solid #000;
}
p{
    text-align: center;
}
.list-menu{
    margin: 20px auto;
    width: 80%;
    li{
        list-style: none;
        margin: 30px auto;
    }
}
