<div class="main">
  <section>
    <div class="inbox">
      <table>
        <thead>
          <tr>
            <th>Sender</th>
            <th>Subject</th>
            <th>Status</th>
            <th>Time</th>
          </tr>
        </thead>
        <tbody *ngIf="messages.length >= 1">
          <tr *ngFor="let item of messages" (click)="getMail(item._id)">
            <td>{{item.fullName}}</td>
            <td>{{item.subject}}</td>
            <td>{{(item.status === false) ? 'unread' : 'read'}}</td>
            <td>{{item.dateSent}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="message-body">
      <div class="msg-top">
        <div class="sender">
          <p>From:</p>
          <h4 *ngIf="viewMsg">{{viewMsg.fullName || ''}}</h4>
        </div>
        <div class="subject">
          <p>Subject:</p>
          <p *ngIf="viewMsg">{{viewMsg.subject || ''}}</p>
        </div>
      </div>
      <div class="msg-body">
        <p *ngIf="viewMsg">
          {{viewMsg.message || ''}}
        </p>
      </div>
      <!-- <div class="actions">
        <button>Acknowledged</button>
        <button>Respond</button>
        <button>Next</button>
      </div> -->
    </div>
  </section>
  <section>
    <!-- <div class="compose">
      <textarea name="compose" id="compose" cols="30" rows="10"></textarea>
    </div> -->
  </section>
</div>