<div class="main">
  <section>
    <div class="inbox">
      <table>
        <thead>
          <tr>
            <th>Sender</th>
            <th>Subject</th>
            <th>Status</th>
            <th>Time</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of messages">
            <td>{{fullName}}</td>
            <td>{{message}}</td>
            <td>{{status}}</td>
            <td>{{dateSent}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="message-body">
      <div class="msg-top">
        <div class="sender">
          <p>From:</p>
          <h4></h4>
        </div>
        <div class="subject">
          <p>Subject:</p>
          <p></p>
        </div>
      </div>
      <div class="msg-body">
        <p>
        </p>
      </div>
      <div class="actions">
        <button>Acknowledged</button>
        <button>Respond</button>
        <button>Next</button>
      </div>
    </div>
  </section>
  <section>
    <!-- <div class="compose">
      <textarea name="compose" id="compose" cols="30" rows="10"></textarea>
    </div> -->
  </section>
</div>