<div class="main">
    <div class="about">
        <app-about-section></app-about-section>
        <div class="country">
            <img src="assets/nigeria.jpg" alt="The Map of Nigeria">
            <button (click)="btnClick('register')">Join Us</button>
        </div>
    </div>
    <div class="agenda">
        <div class="content">
            <div class="points">
                <h3>ADP's Three Points Agenda</h3>
                <p>
                        In the ADP, the three point agenda are
                </p>
                <ol>
                    <li>All Inclusiveness</li>
                    <li>Democracy Empowerment of the Youth and Women</li>
                    <li>Party Supremacy</li>
                </ol>
                <p>The keyword is democracy and this democracy is the same that is universally accepted and practiced all over; no one man or woman is greater than the party or one's view much better than the other member's when that view has not been examined and discussed. The ADP is the Nigeria's credible alternative with modern thinking and applications in its manifesto.</p>

                <p>ADP is the party for every Nigerian who believes that the traditional and archaic methods of attending to the Nigerian quagmire should be revisited . ADP is the political party that is building a better future for a more unified Nigeria.</p>
                <button (click)="btnClick('register')">Join Us</button>
            </div>
            <app-mission class="mission"></app-mission>
        </div>
        <app-news class="inMobile"></app-news>
    </div>
    <div class="publications">
        <div class="allseprate">
            <div class="listContents">
                <span><fa-icon [icon]="rocket"></fa-icon></span>
                <h3>Structure</h3>
                <button (click)="btnClick('structure')">View Structure</button>
            </div>
            <div class="listContents">
                <span><fa-icon [icon]="rocket"></fa-icon></span>
                <h3>Constitution</h3>
                <button>View Constitution</button>
            </div>
            <div class="listContents">
                <span><fa-icon [icon]="rocket"></fa-icon></span>
                <h3>Manifesto</h3>
                <button>View Manifesto</button>
            </div>
        </div>
        <app-login-section></app-login-section>
    </div>
    <div class="theChairman">
        <div class="theContent">
            <img src="assets/nChairman.jpg" alt="The ADP National Chairman">
            <div class="contents">
                <h4>Chairman's Desk</h4>
                <p>
                    The National Chairman of the Action Democratic Party (ADP), Engr. Yabagi Sani, spoke with Press men in Abuja. He expressed dissatisfaction with the way the economy of the country was being run, insisting that the interest of the masses do not feature in the decision made by the ruling party...
                </p>
                <button (click)="btnClick('structure')">Read More</button>
            </div>
        </div>
        <app-quicklinks></app-quicklinks>
    </div>
</div>