<div class="main">
    <div class="about">
        <app-about-section></app-about-section>
        <div class="country">
            <img src="/assets/nigeria.jpg" alt="The Map of Nigeria">
            <input type="button" value="Join Us">
        </div>
    </div>
    <div class="agenda">
        <div class="content">
            <div class="points">
                <h3>ADP's Three Points Agenda</h3>
                <p>
                        In the ADP, the three point agenda are
                </p>
                <ol>
                    <li>All Inclusiveness</li>
                    <li>Democracy Empowerment of the Youth and Women</li>
                    <li>Party Supremacy</li>
                </ol>
                <p>The keyword is democracy and this democracy is the same that is universally accepted and practiced all over; no one man or woman is greater than the party or one's view much better than the other member's when that view has not been examined and discussed. The ADP is the Nigeria's credible alternative with modern thinking and applications in its manifesto.</p>

                <p>ADP is the party for every Nigerian who believes that the traditional and archaic methods of attending to the Nigerian quagmire should be revisited . ADP is the political party that is building a better future for a more unified Nigeria.</p>
                <input type="button" value="Join Us">
            </div>
            <app-mission class="mission"></app-mission>
        </div>
        <app-news></app-news>
    </div>
</div>