<div class="news">
  <h4>Latest News</h4>
  <div id="newsContent">
      <figure>
          <img src="assets/inec.jpg" alt="News Caption" width="100px">
          <figcaption>
              <strong>Election</strong>
              <p>
                  Increase facilities for voters registration in Oyo State, ADP tells INEC
              </p>
              <span><em>Aug 15th, 2018</em></span>
          </figcaption>
      </figure>
      <figure>
          <img src="assets/inec.jpg" alt="News Caption" width="100px">
          <figcaption>
              <strong>Election</strong>
              <p>
                  Increase facilities for voters registration in Oyo State, ADP tells INEC
              </p>
              <span><em>Aug 15th, 2018</em></span>
          </figcaption>
      </figure>
      <figure>
          <img src="assets/inec.jpg" alt="News Caption" width="100px">
          <figcaption>
              <strong>Election</strong>
              <p>
                  Increase facilities for voters registration in Oyo State, ADP tells INEC
              </p>
              <span><em>Aug 15th, 2018</em></span>
          </figcaption>
      </figure>
  </div>
</div>
