<app-head-bar></app-head-bar>
<div class="wrapper">
  <router-outlet></router-outlet>
  <div class="hang">
    <div class="donate">
      <h5>DONATE: Help Build a Better Nigeria</h5>
      <ul>
        <li (click)="toggleModal('10000', '100', true)">N100</li>
        <li (click)="toggleModal('20000', '200', true)">N200</li>
        <li (click)="toggleModal('30000', '300', true)">N300</li>
        <li (click)="toggleModal('', '', false)">others</li>
      </ul>
    </div>
  </div>
</div>
<div class="modal-container" (click)="closeModal($event)" [ngClass]="{'show': modalActive}">
  <div class="inner-modal">
    <h4>Make Donation</h4>
    <div class="donates">
      <label for="fullname">Full Name</label>
      <input type="text" name="fullname" id="fullname">
      <label for="email">Your Email</label>
      <input type="email" name="email" id="email" #theEmail (keyup)="theemail = theEmail.value" placeholder="contact@adp.ng">
      <label for="amount">Amout</label>
      <input type="text" #amountDT [readonly]="theState" (keyup)="theAmt = amountDT.value +00" name="amount" id="amount" value="{{viewAmt}}">
    </div>
    <div class="buttons">
        <button
        angular4-paystack
        [key]="'pk_test_d718965961de7b1d678c7a70fbcfaef072800df9'"
        [email]="theemail"
        [amount]="theAmt"
        [ref]="theRef"
        [disabled]="theEmail.value == ''"
        (close)="paymentCancel()"
        [ngClass]="{disabledBTN: theEmail.value !== ''}"
        (callback)="paymentDone($event)">Donate</button>
        <button id="close">Close</button>
    </div>
    <img src="assets/paystack.webp" alt="Pay With Paystack" width="100%" height="80px">
  </div>
</div>
<app-footer-bar></app-footer-bar>

