<app-head-bar></app-head-bar>
<div class="wrapper">
  <router-outlet></router-outlet>
  <div class="hang">
    <div class="donate">
      <h4>DONATE: Help build a better Nigeria</h4>
      <div class="amount">
        <h5>Amount</h5>
        <ul>
          <li (click)="toggleModal('10000', '100')"> 
              <svg width="10" height="12" viewBox="0 0 10 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="0.5" y="0.5" width="9" height="11" rx="1.5" stroke="#A8A8A8"/>
                </svg>
             N100
            </li>
          <li (click)="toggleModal('20000', '200')">
              <svg width="10" height="12" viewBox="0 0 10 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="0.5" y="0.5" width="9" height="11" rx="1.5" stroke="#A8A8A8"/>
                </svg>
                N200
              </li>
          <li (click)="toggleModal('30000', '300')">
              <svg width="10" height="12" viewBox="0 0 10 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="0.5" y="0.5" width="9" height="11" rx="1.5" stroke="#A8A8A8"/>
                </svg>
                 N300
                </li>
          <li (click)="toggleModal('50000', '500')">
              <svg width="10" height="12" viewBox="0 0 10 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="0.5" y="0.5" width="9" height="11" rx="1.5" stroke="#A8A8A8"/>
                </svg>
                 N500
                </li>
          <li>
                <input type="text" name="otherAmunt" placeholder="Enter other amount" #otherAmount id="otherAmunt" class="others">
              </li>
          <li><button (click)="(otherAmount.value !== '') ? toggleModal(otherAmount.value + '00', otherAmount.value) : false">Donate</button></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<app-modal id="app-payment" class="modal-container show">
  <app-payment ></app-payment>
</app-modal>
<app-footer-bar></app-footer-bar>

