<ng-container *ngIf="!isloggedin; else anotherPage">

    <div class="beforeLoad">
      <br> <span style="color: red;">{{bdNtwk}}</span>
      <div class="checkPage">
          <h4 style="color: red; text-align: center;">The Page Loading</h4>
        <img src="/assets/yy.jpg" alt="The ADP Candidate">
        <div>
          <h3>Vote Y Y Sani for President 2019.</h3>
          <p>The Alternative 2019</p>
        </div>
      </div>
    </div>

</ng-container> 
<ng-template #anotherPage>
  <div class="wrapper">
    <app-member-side-menu></app-member-side-menu>
    <div class="main">
      <router-outlet></router-outlet>
    </div>
  </div>
</ng-template>
