@import '../../../../sass/variables';
@import '../../../../sass/mixins';

.top-profile{
    color: #ffffff;
    width: 97%;
    margin: 10px auto;
    margin-left: 10px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
}
