<div class="main">
  <div class="slide">
    <div class="controls">
      <div class="slideControls">
        <span class="next">Next</span>
        <span class="prev">Prev</span>
      </div>
      <ul class="slideList">
        <li>*</li>
        <li>*</li>
        <li>*</li>
        <li>*</li>
      </ul>
    </div>
    <div class="slideImage">
      <div class="slideContent">
        <div class="res">
          <h3>One Destiny - Action Forward</h3>
          <p>
            To reenergize the polity, rekindle hope for economic Great Leap Forward and trust in a peaceful, prosperous and strong nation, a giant mega new political party, The Action Democratic Party of Nigeria - ADP.
          </p>
          <p class="join"><button (click)="btnClick('register')">Join Us</button> <button (click)="btnClick('about')">Read More</button> </p>
        </div>
      </div>
    </div>
  </div>
</div>